/*CSS Principal, contém a etrutura dos GRID's*/
/*os pokemons dos cards estão no style-2.css */
/*os MediaQueries estão no style-3.css       */

@font-face {
    font-family: Pokemon;
    src: url(Pokemon-Solid.ttf);
}
.gridzera {   
    font-family: 'Yanone Kaffeesatz', sans-serif;
    display: grid;
    width: 100vw;
    grid-template-rows: 
    10vh 7vh auto auto 3vh 0 500px;
    grid-template-columns:
       10vw   20vw    40vw    20vw    10vw;
    grid-template-areas: 
    'blankhl        header  header  header blankhr'
    'blanknl        nav     nav     nav    blanknr'
    'costeleta-left content content aside costeleta-right'
    'costeleta-left content content aside costeleta-right'
    'costeleta-left content content aside costeleta-right'
    'costeleta-left content content aside costeleta-right'
    'blankfl        footer  footer  footer blankfr';
}

.blankhl {
    grid-area: "hblankl";
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
    background-color: rgba(214, 68, 0, 0.863);

}
.blankhr {
    grid-area: "hblankr";
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 5;
    grid-column-end: 5;
    background-color: rgba(214, 68, 0, 0.863);
}
.blanknl {
    grid-area: "hblankl";
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
    background-color: black;
    height: auto;
}
.blanknr {
    grid-area: "hblankr";
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 5;
    grid-column-end: 5;
    background-color: black;
    height: auto;
}

.costeleta-left {
    grid-area: "costeleta-left";  
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 1;    
    background-image:
    url("../images/pokeball-left-01.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
}

.costeleta-right {
    grid-area: "costeleta-right";  
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 5;
    grid-column-end: 5;
    background-image:
    url("../images/pokeball-right-01.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    
}

.blankfl {
    grid-area: "blankl";  
    grid-row-start: 7;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 1;    
    background-color:
    rgb(26, 26, 26);
}

.blankfr {
    grid-area: "blankr";  
    grid-row-start: 7;
    grid-row-end: 7;
    grid-column-start: 5;
    grid-column-end: 5;
    background-color:
    rgb(26, 26, 26);
}

/*¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨HEADER¨¨¨¨¨¨¨¨*/
/*¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨HEADER¨¨¨¨¨¨¨¨*/
/*¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨HEADER¨¨¨¨¨¨¨¨*/
header {
    grid-area: "header";  
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: rgba(214, 68, 0, 0.863);
    height: 11vh;
    width: 80vw;
    padding: 1% 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 75vw;
    margin: auto;
}

.topbar {
    grid-area: "header";    
    max-height: 10vh; 
    /*line-height: 7vh;*/
    margin-right: 2%;
    margin-left: 2%;
}
/*tenho que criar mais encapsulamentos
para naou ter que ficar criando classes 
para cada coisa individualmente?*/

header .topbar .header-container>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .topbar .font-poke {
    color: #FFDE00;
    text-shadow:
    0.2rem 0.5vh 0.1vw rgb(0, 4, 255);
    line-height: 0.01vh;
    font-family: Pokemon;
    font-size: 5vh;
    transition: all ease 0.9s;
}

.font-poke a {
    text-decoration: none;
}

.font-poke a:hover {
    text-shadow:
    0.5rem 0.8vh 0.4vw rgb(0, 4, 255);
}

h1 .font-poke {
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
    text-shadow:
    0.1rem 0.1vh 0.1vw rgb(77, 249, 255);
    margin-left: 100%;
    width: 300%;
    }
    75% {
        text-shadow:
        0.8rem 1.9vh 1.9vw rgb(0, 4, 255);
        margin-left: 25%;
        width: 150%;
        font-size: 220%;
    }
    to {
        text-shadow:
        0.1rem 0.1vh 0.1vw rgb(0, 4, 255);
        margin-left: 0%;
        width: 100%;
    }
}

header .topbar .search {
    margin-left: 15px;
}

header .topbar .search-input {
    position: relative;
} 

header .topbar .search-input button {
    position: absolute;
    right: 3px;
    top: 3px;
}

header .topbar .search-input button {
    background:
    url("../images/pokeball-1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 30px;
    height: 30px;
    border: 0;
    cursor: grabbing;   
}

header .topbar .search-input input {
    transition: width 0.3s ease-in-out;
    border-radius: 5px;
    border: 0;
    width: 123px;
    padding: 15px 33px 15px 17px;
}

header .topbar .search-input input:focus {
    width: 230px;
    outline: 3px solid #2428ff;
} 

header .topbar .profile {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

header .topbar .profile li {
    margin-left: 8%;
}

header .topbar .headlink{
    text-decoration: none;
    color: black;
    font-size: 2.1vh;
    transition: all ease 0.4s;
}

.headlink:hover {
    box-shadow: 5px 5px 5px #ffffff;
    font-size: 2.3vh;
    border-radius: 50%;
    padding-left: auto;
    padding-right: auto;
    background-color: #FFDE00;
    color: blue;
    font-family: Pokemon;
}

.buycart {
    width: 2.5vh;
    height: 2.5vh;
}
/*==================NAVBAR========*/
/*==================NAVBAR========*/
/*==================NAVBAR========*/
nav {
    grid-area: "nav";
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 4;
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 80vw;
    background-color: rgb(0, 0, 0);
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

div .navbar li .navlink:hover {
    color: #FFDE00;
}

nav div ul li .navlink{
    color: white;
    border-right: solid 1px white;
    padding-right: 0.8rem;
    margin-right: 1rem;
    text-decoration: none;
}

nav div ul li {
    /*display: list-item;
    text-align:
    -webkit-match-parent;*/
}

.social1 {
    grid-area: "nav";  
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 4;
    margin-top: 1%;
}

.socialtop {
    width: 25px;
    height: 25px;
    border-radius: 5px;
}
/*----------------------MAIN-------*/
/*------------STYLE-----MAIN-------*/
/*------STYLE-----------MAIN-------*/
/*----------------------MAIN-------*/
main {
    grid-area: "content";
    /*text-align: center;*/
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 4;
    /*width: auto;
    height: auto;*/
}

main .grid-main {   
    font-family:
    'Yanone Kaffeesatz', sans-serif;
    display: grid;
    grid-template-rows: 
    30vh 30vh 30vh 10vh;
    grid-template-columns:
    14vw 14vw 14vw 14vw;
    grid-template-areas: 
    'pok1 pok2  pok3  pok4'
    'pok5 pok6  pok7  pok8'
    'pok9 pok10 pok11 pok12'
    'prox prox prox prox';
    grid-column-gap: 1vw;
    grid-row-gap: 9.5vh;
    margin: 1%;
}

.poke-table {
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 1vh;
    margin-right: 1vh;
}
/*-----LOOK IN -----------POKEMONS--*/
/*--------the-------------POKEMONS--*/
/*------STYLE-2.CSS-------POKEMONS--*/

.prox {
    grid-area: "prox";
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
    margin-left: 11vw;
    margin-bottom: 0;
}

/*--------------aspect MAIN-------*/
/*--------------aspect MAIN-------*/
/*--------------aspect MAIN-------*/
main div .poke-table button {
    list-style: none;
    text-align: center;
}

div .card-flex {
    transform: all ease 0.5s;
    text-align: center;
    /*padding: 10px;*/
    border: solid #DDD;
}

.poke-table .card-flex:hover {
    box-shadow: 2px 3px 20px #1900ff;
}

.card {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: flex-end;
    justify-content: space-between;
    /*justify-content: flex-end;*/
}

.card-flex .card {
   /* display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 0;
/*    width: 100%;*/
}

.poke-void .poke-name .old-price .actual-price .btn {
    /*flex: 1 0 70%;*/
    /*align-self: flex-end;*/
}

@keyframes pokeBtnAnimation {
    0% {
        background-position: 0% 5%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.poke-table .card-flex:hover .btn {
    animation: pokeBtnAnimation 5s ease infinite;
}

.poke-data {
    /*flex: 1;*/
    margin: 1%;
}

.card-head {
    align-self: baseline;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    font-size: 0.8rem;
}

.poke-void {
    align-self: baseline;
}
.card .poke-void img {    
    transform: all ease 0.5s;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0.8rem;
}

.poke-void img:hover {
    background-image:
    url("../images/pokeball-2.png");
    background-position-y: 40%;
    background-repeat: no-repeat;
    background-size: cover;
    cursor:grabbing;
    cursor: zoom-in;
    /* mask-image:
    linear-gradient(rgba(0,0,0,1,0), transparent);
    mask-image:
    image(url(../images/favicon-pokes.ico), skyblue);*/
    /*margin-bottom: 4.5rem;*/
}

.card-head h2 .poke-name {
    color: black;
    font-weight: 800;
    font-size: 0.5rem;
    margin: 0;
}

.old-price {
    /*align-self: baseline;*/
    text-decoration: line-through;
    color: red;
}

.actual-price {
    color: black;
    font-weight: bold;
    font-size: 2.5vh;
}

.poke-data .btn {
    /*flex-wrap: wrap;*/
    font-size: 2.5vh;
    font-weight: 600;
    text-align: center;
    /*padding-right: 2.5rem;*/
}

.poke-table .card-flex .btn{
    background: linear-gradient(-45deg, #ce0606, #ec6834, #d5c923, #23d5ab);
    background-size: 400% 400%;
    cursor: pointer;
}


.btn {
    display: flex;
    justify-content: space-between;
}

.poke-data button img .buy {
    flex: 0 1 100%;
}

.btn {
    /*background-image: 
    url("../images/pokeball-btn-q-01.png");
    background-position-y: 40%;
    background-repeat: no-repeat;
    background-size: cover;*/
    border: 1px solid rgb(0, 0, 0);
    border-radius: 1rem;
    padding-left: 3%;
    padding-right: 12%;
    padding-bottom: 3%;
    padding-top: 6%;
    /*margin-right: 0.2vw;
    margin-left: 0.2vw;*/
    font-size: 2.5vh;
    font-weight: 600;
    line-height: 2.4vh;
    width: 100%;
    text-align: right;
    margin: 0;
}

.btn a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    line-height: 1vh;
}

.btn img {
    height: 1.9rem;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0.3rem;

    margin-left: 0.3rem;
}

.prox-box{
    text-align: center;
    display: flex;
    margin-left: 5vw;
    justify-content: space-around;
    transition: all ease 0.4s;
}

.prox-item a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.prox-item {
    flex: 1;
    padding: 0.5rem;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    border-radius: 10%;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(198, 199, 255);
}

.prox-box .prox-item:hover {
    box-shadow: 1px 3px 10px #FFDE00;
    background-color: #FFDE00;
}

/*>>>>>>>>>>>>>>ASIDE>>>>>>>>>>>>>*/
/*>>>>>>>>>>>>>>ASIDE>>>>>>>>>>>>>*/
/*>>>>>>>>>>>>>>ASIDE>>>>>>>>>>>>>*/
aside {
    grid-area: "sidenav";
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 4;
    grid-column-end: 4;
    width: 100%;
}
aside img {
    width: 100%;
}

.news {
    background: #EEE;
    margin-top: 40px;
    padding: 30px 10px;
}

.news h4 {
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 0;
    text-align: center;
    font-size: 0.8rem;
}

.news input {
    padding: 8px;
    border: 0;
    width: 100%;
}

.news button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    border: 0;
    color: #fff;
    background: #000;
    border-radius: 1% 1%;
    
}

/*___________________FOOTER_______*/
/*___________________FOOTER_______*/
/*___________________FOOTER_______*/
footer {
    grid-area: "footer";
    grid-row-start: 7;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: 4;
    /*  display: flex;
    justify-content: space-between; */
    width: 78vw;
    padding-right: 2%;
    padding-left: 2%;
    background-color:
    rgb(26, 26, 26);
    color: white;
}

footer .containerfoot {
    display: flex;
    justify-content: space-between;
}

footer .footer-nav li {
    margin-bottom: 10px;
}

footer .footer-nav a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

footer .footer-nav a:hover {
    color: #FFDE00;
}

footer .copyright {
    background: rgb(26, 26, 26);
    text-align: center;
    margin-top: 30px;
    color: #fff;
    padding: 20px 0;
}

.social1 .social2 {

}

footer .social2 .socialfoot {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    margin-top: 10%;
    transition: all ease 0.4s;
}
nav .social1 .socialfoot {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    margin-top: 2%;
    transition: all ease 0.4s;
}

.socialfoot:hover {
    border: 1px solid #FFDE00;
    border-radius: 8%;
    box-shadow: 0 3px 10px #FFDE00;
}

.bottom {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-bottom: 0;
}

.defaut-clean {
    text-decoration: none;
    color: white;
}
.top-pokes {
    margin-top: 1%;
}

.top-pokes h3 {
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: solid 1px #DDD;
    padding: 10px 0;
    margin: 0;
}
.top-pokes ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.top-pokes li {
    counter-increment: li;
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: solid 1px rgb(255, 226, 194);
    transition: all ease 0.3s;
    cursor: pointer;
}

.top-pokes li:hover {
    background: #EEE;
    color: #FFDE00;
}

.top-pokes li:last-child {
    border-bottom: 0;
}

.top-pokes span {
    font-size: 20px;
    font-weight: 300;
}

.top-pokes li::before {
    content: counter(li) "º";
    font-size: 36px;
    font-weight: bold;
    line-height: 0;
}

.top-pokes .poke-img {
    width: 50px;
    margin: 0 8px;
}

ol {
    list-style-type: decimal;
}

.poke-img {
    width: 3vw;
}

/*===========MEDIA========MOBILE==*/
/*-----------------FLEX-----------*/
/*===========MEDIA========MOBILE==*/
/*-----------------FLEX-----------*/
/*----LOOK in the STYLE-3.CSS-----*/