@charset "UTF-8";
/* Content Styles */
/*COLOR THEME */
/* Costeletas-Ribs-Sider's */
/* Product Images */
body {
  overflow-x: hidden;
}

@font-face {
  font-family: Pokemon;
  src: url(Pokemon-Solid.ttf);
}
.gridzera {
  margin: 0;
  font-family: "Yanone Kaffeesatz", sans-serif;
  display: grid;
  width: 100vw;
  grid-template-rows: 130px 70px auto auto auto;
  grid-template-columns: 70vw 30vw;
  grid-template-areas: "header      header" "nav         nav" "content     aside" "footer      footer";
}

@media screen and (max-width: 720px) {
  .gridzera {
    grid-template-rows: 13vh 10vh auto auto auto;
    grid-template-columns: 100vw;
    grid-template-areas: "header" "nav" "content" "aside" "footer";
    row-gap: 0.01%;
    margin-bottom: 10%;
    margin-left: 0;
  }

  .blankhl {
    grid-area: "hblankl";
    grid-row-start: none;
    grid-row-end: none;
    grid-column-start: none;
    grid-column-end: none;
    background-color: #ED6000;
  }

  .blankhr {
    grid-area: "hblankr";
    grid-row-start: none;
    grid-row-end: none;
    grid-column-start: none;
    grid-column-end: none;
    background-color: #ED6000;
  }

  .blanknl {
    grid-area: "hblankl";
    grid-row-start: none;
    grid-row-end: none;
    grid-column-start: none;
    grid-column-end: none;
    background-color: black;
  }

  .blanknr {
    grid-area: "hblankr";
    grid-row-start: none;
    grid-row-end: none;
    grid-column-start: none;
    grid-column-end: none;
    background-color: black;
  }

  .costeleta-left {
    display: none;
    visibility: hidden;
    grid-area: "costeleta-left";
    background-image: none;
    background-repeat: none;
    background-size: none;
    background-position: center;
    width: 0;
  }

  .costeleta-right {
    display: none;
    visibility: hidden;
    grid-area: "costeleta-right";
    background-image: none;
    background-repeat: none;
    background-size: none;
    background-position: center;
  }

  .blankfl {
    grid-area: "blankl";
    grid-row-start: none;
    grid-row-end: none;
    grid-column-start: none;
    grid-column-end: none;
    background-color: #000000;
  }

  .blankfr {
    grid-area: "blankr";
    grid-row-start: none;
    grid-row-end: none;
    grid-column-start: none;
    grid-column-end: none;
    background-color: #000000;
  }
}
@media screen and (max-width: 414px) {
  .gridzera {
    grid-template-rows: 13vh 7vh auto auto auto;
  }
}
@media screen and (max-width: 375px) {
  .gridzera {
    grid-template-rows: 15vh 10vh auto auto auto;
  }
}
header {
  grid-area: "header";
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: #ED6000;
  height: auto;
  width: 100vw;
}
header .topbar {
  grid-area: "header";
  max-height: auto;
  margin-right: 2%;
  margin-left: 2%;
}
header .topbar .header-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: auto;
  margin-left: -50px;
  margin-right: -50px;
}
header .topbar .header-container .logo {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex: 1 0 100%;
  flex-wrap: nowrap;
}
header .topbar .header-container .logo .pika-spin {
  margin-top: 20px;
}
header .topbar .header-container .logo .logo-img {
  width: 300px;
  height: 130px;
  margin-bottom: 1%;
  padding: 10px;
}
header .topbar .header-container .logo .logo-img:hover {
  padding: 12px;
}
header .topbar .header-container .logo .path-curvex {
  margin-top: 20px;
  margin-left: -250px;
  padding-right: 0;
}
header .topbar .header-container .logo path {
  fill: transparent;
}
header .topbar .header-container .logo text {
  text-align: center;
  fill: #FFDE00;
}
header .topbar .header-container .logo #curve {
  max-width: 150px;
}
header .topbar .header-container .logo a {
  text-decoration: none;
}
header .topbar .header-container .logo .pika-run {
  margin-top: 15px;
  margin-bottom: 0;
  animation-duration: 3s;
  animation-name: runing;
}
header .topbar .header-container .search {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0;
}
header .topbar .header-container .search .search-input {
  position: relative;
}
header .topbar .header-container .search .search-input button {
  position: absolute;
  right: 3px;
  top: 3px;
  background: url("../images/pokeball-1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 20px;
  height: 20px;
  border: 0;
  cursor: grabbing;
}
header .topbar .header-container .search .search-input input {
  transition: width 0.3s ease-in-out;
  border-radius: 5px;
  border: 0;
  width: 130px;
  padding: 15px 33px 15px 17px;
}
header .topbar .header-container .search .search-input input:focus {
  width: 230px;
  outline: 3px solid #012bff;
}
header .topbar .profile {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
header .topbar .profile li {
  margin-left: 8%;
}
header .topbar .profile li .headlink {
  text-decoration: none;
  color: black;
  font-size: 2.1vh;
  transition: all ease 0.4s;
}
header .topbar .profile li .headlink:hover {
  /* transition: background-color .1s linear;*/
  box-shadow: 5px 5px 5px #ffffff;
  font-size: 2.4vh;
  border-radius: 20%;
  padding-left: 19%;
  padding-right: 19%;
  background-color: #FFDE00;
  color: #012bff;
  font-family: Pokemon;
  text-shadow: 2px 2px 1px #012bff;
}
header .topbar .profile li .buycart {
  width: 2.5vh;
  height: 2.5vh;
  margin-right: 15px;
}

.pika-spin {
  animation: pikaspin 3s infinite linear;
}

@keyframes pikaspin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes slidein {
  from {
    text-shadow: 0.1rem 0.1vh 0.1vw #5671f7;
    margin-left: 100%;
    width: 300%;
  }
  75% {
    text-shadow: 0.8rem 1.9vh 1.9vw #012bff;
    margin-left: 25%;
    width: 100%;
    font-size: 200%;
  }
  to {
    text-shadow: 0.1rem 0.1vh 0.1vw #012bff;
    margin-left: 0%;
    width: 100%;
  }
}
@keyframes runing {
  from {
    background-image: url("../images/pikachu-thunder.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 150%;
    margin-left: 100%;
    width: 50%;
    filter: blur(2px);
    transform: all ease 2s;
  }
  75% {
    background-image: url("../images/pikachu-thunder.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200%;
    margin-left: 45%;
    width: 70%;
    filter: contrast(200%) hue-rotate(180deg);
    animation-name: "pika-spin";
  }
  to {
    background-color: none;
    margin-left: 0;
    width: 100%;
  }
}
nav {
  grid-area: "nav";
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  height: auto;
  width: 100vw;
  /*padding-right: 9%;*/
  margin: 0;
  background-color: #000000;
}
nav .nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: nowrap;
}
nav .nav-container .navbar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  list-style-type: none;
  margin-top: 5%;
}
nav .nav-container .navbar li .navlink {
  color: white;
  border-right: solid 1px white;
  padding-right: 0.8rem;
  margin-right: 1rem;
  text-decoration: none;
  text-transform: uppercase;
}
nav .nav-container .navbar li .navlink:hover {
  color: #FFDE00;
}
nav .nav-container .social1 {
  margin-right: 40px;
}
nav .nav-container .social1 a {
  text-decoration: none;
}
nav .nav-container .social1 a .socialfoot {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  margin-top: 1%;
  margin-top: 2%;
  transition: all ease 0.4s;
}

@media screen and (max-width: 720px) {
  header {
    grid-area: "header";
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
    width: 100vw;
    margin: 0;
    padding: 0;
  }
  header .topbar .header-container {
    display: block;
    padding: 2 15px;
    margin: 0;
  }
  header .topbar .header-container .logo .font-poke {
    margin-top: -5px;
    padding-top: 0;
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 0;
  }
  header .topbar .header-container .profile {
    top: 5px;
    right: 5px;
    margin-top: 0;
    margin-right: 30px;
    position: absolute;
  }
  header .topbar .header-container .profile .headlink {
    font-size: 0.9rem;
  }
  header .topbar .header-container .profile img {
    width: 15px;
    height: 15px;
    margin-left: -5px;
  }
  header .topbar .header-container .search {
    margin-top: 2px;
    margin-left: 0;
  }
  header .topbar .header-container .search .search-input button {
    margin-left: -25px;
  }
  header .topbar .header-container .search .search-input input {
    width: 270px;
    height: 10px;
  }
  header .topbar .header-container .search .search-input input:focus {
    width: 270px;
  }

  nav {
    grid-area: "nav";
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
    height: auto;
    width: 100vw;
    padding-right: 50px;
    margin-left: -40px;
  }
  nav .nav-container .navbar {
    display: flex;
    /* overflow: scroll;*/
    justify-content: flex-start;
    align-items: flex-end;
    width: 80%;
    flex: 0;
    margin: auto;
  }
  nav .nav-container .navbar .navlink {
    font-size: 0.7rem;
    font-weight: 600;
  }
  nav .nav-container .social1 {
    display: flex;
    flex-direction: row;
    margin-right: 5px;
  }
  nav .nav-container .social1 a .socialfoot {
    width: 25px;
    height: 25px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0;
  }
}
@media screen and (width: 414px) {
  header {
    height: 110%;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  header .topbar .header-container .font-poke {
    margin-bottom: 0;
    font-size: 15px;
  }
  header .topbar .search {
    margin-top: 2px;
    margin-left: 0;
  }
  header .topbar .search-input button {
    margin-left: -25px;
  }
  header .topbar .search-input input {
    width: 260px;
    height: 10%;
  }
  header .topbar .search-input input:focus {
    width: 260px;
  }
  header .topbar .profile .headlink {
    font-size: 0.8rem;
    margin-left: 0;
  }

  nav {
    width: 100vw;
    line-height: 100%;
  }
  nav .nav-container .navbar {
    margin-left: 5px;
  }
  nav .nav-container .social1 .socialfoot {
    max-width: 19px;
    max-height: 19px;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 8%;
  }
}
@media screen and (width: 414px) {
  header {
    height: 110%;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  header .topbar .header-container .font-poke {
    margin-bottom: 0;
    font-size: 15px;
  }
  header .topbar .search {
    margin-top: 2px;
    margin-left: 0;
  }
  header .topbar .search-input button {
    margin-left: -25px;
  }
  header .topbar .search-input input {
    width: 260px;
    height: 10%;
  }
  header .topbar .search-input input:focus {
    width: 260px;
  }
  header .topbar .profile .headlink {
    font-size: 0.8rem;
    margin-left: 0;
  }

  nav {
    width: 100vw;
    line-height: 100%;
  }
  nav .nav-container .navbar {
    margin-left: 5px;
  }
  nav .nav-container .social1 .socialfoot {
    max-width: 19px;
    max-height: 19px;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 8%;
  }
}
@media screen and (width: 375px) {
  header {
    height: 110%;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  header .topbar .header-container .font-poke {
    margin-bottom: 0;
    font-size: 15px;
  }
  header .topbar .search {
    margin-top: 2px;
    margin-left: 0;
  }
  header .topbar .search-input button {
    margin-left: -25px;
  }
  header .topbar .search-input input {
    width: 260px;
    height: 10%;
  }
  header .topbar .search-input input:focus {
    width: 260px;
  }
  header .topbar .profile .headlink {
    font-size: 0.8rem;
    margin-left: 0;
  }

  nav {
    width: 100vw;
    line-height: 100%;
  }
  nav .nav-container {
    margin-top: 20px;
  }
  nav .nav-container .navbar {
    margin-left: 5px;
    margin-right: 0;
  }
  nav .nav-container .social1 {
    margin-right: 0;
  }
  nav .nav-container .social1 .socialfoot {
    max-width: 19px;
    max-height: 19px;
    margin-left: 13%;
    margin-right: 0;
  }
}
main {
  margin: 20px;
  grid-area: "content";
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 1;
}

main .grid-main {
  font-family: "Yanone Kaffeesatz", sans-serif;
  display: grid;
  grid-template-rows: 65vh 65vh 65vh 5vh;
  grid-template-columns: 16vw 16vw 16vw 16vw;
  grid-template-areas: "pok1 pok2  pok3  pok4" "pok5 pok6  pok7  pok8" "pok9 pok10 pok11 pok12" "prox prox prox prox";
  grid-column-gap: 1vw;
  grid-row-gap: 3.5vh;
  margin: 0.5vh 0.5vw;
}

main .poke-table {
  text-align: center;
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: 1vh;
  margin-right: 1vh;
}

main div .poke-table button {
  list-style: none;
  text-align: center;
}

main .poke-table div .card-flex {
  transform: all ease 0.5s;
  text-align: center;
  border: solid #DDD;
}

main .poke-table .card-flex:hover {
  box-shadow: 2px 3px 20px #012bff;
}

main .poke-table .card {
  display: flex;
  flex: 2;
  flex-direction: column;
  align-content: space-between;
  align-items: stretch;
  justify-content: space-between;
  /*justify-content: flex-end;*/
}

/* Ativando o Justify-content lembre */
/* Também deve colocar o background-image */
/* de cada pokemon para TOP.........*/
main .card-flex .card-head {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 0;
  width: 100%;
}

@keyframes pokeBtnAnimation {
  0% {
    background-position: 0% 5%;
    color: #DDD;
    text-shadow: 0.2px 0.5vh 0.1vw #5671f7;
    font-family: Pokemon;
  }
  50% {
    background-position: 100% 50%;
    font-size: 1.9rem;
    font-family: Pokemon;
  }
  100% {
    background-position: 0% 50%;
    color: #FFDE00;
    text-shadow: 0.2rem 0.5vh 0.1vw #012bff;
    font-family: Pokemon;
  }
}
.poke-table .card-flex:hover .btn {
  animation: pokeBtnAnimation 5s ease infinite;
}

.card-head {
  align-self: baseline;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
  font-size: 0.8rem;
  margin-right: 15px;
}

.poke-void {
  align-self: flex-end;
}

.card .poke-void img {
  transform: all ease 0.5s;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0.8rem;
}

.poke-void img:hover {
  animation: pikaspin 3s infinite linear;
  background-image: url("../images/pokeball-2.png");
  background-position-y: 40%;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: grabbing;
  cursor: zoom-in;
}

.card-head h2 .poke-name {
  color: black;
  font-weight: 800;
  font-size: 0.5rem;
}

.card-flex .card-feet {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0;
}

.card-flex .card .prices {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-end;
}

.old-price {
  flex: auto;
  align-self: flex-start;
  text-decoration: line-through;
  color: red;
}

.actual-price {
  color: black;
  font-weight: bold;
  font-size: 2.5vh;
}

.card .btn {
  /*flex-wrap: wrap;*/
  font-size: 2.5vh;
  font-weight: 600;
  text-align: center;
  /*padding-right: 2.5rem;*/
}

.poke-table .card-flex .btn {
  background: linear-gradient(-45deg, #BA0A00, #ec6834, #dca202, #5671f7);
  background-size: 400% 400%;
  cursor: pointer;
}

.btn {
  display: flex;
  justify-content: space-between;
}

.card button img .buy {
  flex: 0 1 100%;
}

.btn {
  border: 1px solid black;
  border-radius: 4%;
  padding-left: 3%;
  padding-right: 12%;
  padding-bottom: 3%;
  padding-top: 6%;
  font-size: 2.5vh;
  font-weight: 600;
  line-height: 2.4vh;
  width: 100%;
  text-align: right;
  margin: 0;
}

.btn a {
  color: black;
  text-decoration: none;
  line-height: 1vh;
}

.btn img {
  height: 1.9rem;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0.3rem;
  margin-left: 0.3rem;
}

/*_________||PROX BUTTONS BUTTONS-------*/
/*_________||PROX BUTTONS BUTTONS-------*/
/*_________||PROX         BUTTONS-------*/
/*_________||PROX         BUTTONS-------*/
/*_________||PROX BUTTONS BUTTONS-------*/
/*_________||PROX BUTTONS---------------*/
/*_________||PROX BUTTONS---------------*/
/*_________||PROX BUTTONS---------------*/
.prox {
  grid-area: "prox";
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 4;
  padding-bottom: 5%;
  margin-bottom: 1%;
  margin-top: 15%;
  margin-left: 30%;
  align-self: center;
}

.prox-box {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  flex: 1 1 100%;
  transition: all ease 0.4s;
  width: 100%;
  margin: auto;
}

/* AQUI eu não entendo porque */
/* nao pude centralizar prox-item*/
/* no final a unica forma q deu*/
/* certo foi forçar a margem esquerda */
.prox-item a {
  align-self: center;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  margin-bottom: 0;
  margin-top: 0;
}

.prox-item {
  border: 1px solid black;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 8%;
  padding-right: 8%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 2%;
  background: linear-gradient(-45deg, #ffea60, #fff1eb, #8a23ff, #012bff);
  background-size: 300% 300%;
  cursor: pointer;
}

.prox-box .prox-item:hover {
  animation: pokeProxAnimation 1.8s ease infinite;
  font-size: 1.1rem;
  font-weight: 800;
}

.prox-item:last-child {
  margin-right: 0.1%;
}

@keyframes pokeProxAnimation {
  0% {
    background-position: 0% 5%;
    font-size: 1.1rem;
  }
  25% {
    background-position: 100% 50%;
    font-size: 1rem;
  }
  50% {
    background-position: 100% 50%;
    font-size: 0.8rem;
  }
  100% {
    background-position: 0% 50%;
    font-size: 1.3rem;
  }
}
/*---------|MAN-|MAIN|-----|MAIN|-|MAIN------*/
/*---------|MAN-|MAIN|-----|MAIN|-|MAIN------*/
/*---------|MAN-------|MAIN|------|MAIN------*/
/*---------|MAN-------|MAIN|------|MAIN------*/
/*---------|MAN-------|MAIN|------|MAIN------*/
@media screen and (max-width: 720px) {
  main {
    grid-area: "content";
    grid-column-start: 1;
    grid-column-end: 1;
    width: 100%;
    height: 170vh;
    margin-bottom: 10%;
    row-gap: 5%;
  }

  main .grid-main {
    font-family: "Yanone Kaffeesatz", sans-serif;
    display: grid;
    grid-template-rows: 33vh 33vh 33vh 33vh 33vh 33vh 2vh;
    grid-template-columns: 50% 50%;
    grid-template-areas: "pok1 pok2" "pok3  pok4" "pok5 pok6" "pok7  pok8" "pok9 pok10" "pok11 pok12" "prox prox";
    grid-column-gap: 0.5%;
    grid-row-gap: 0.5%;
    margin-bottom: 10%;
    left: 0;
  }

  main .grid-main .pok3 {
    grid-area: "pok3";
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
  }

  main .grid-main .pok4 {
    grid-area: "pok4";
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
  }

  main .grid-main .pok5 {
    grid-area: "pok5";
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
  }

  main .grid-main .pok6 {
    grid-area: "pok6";
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 2;
  }

  main .grid-main .pok7 {
    grid-area: "pok7";
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 1;
  }

  main .grid-main .pok8 {
    grid-area: "pok8";
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 2;
  }

  main .grid-main .pok9 {
    grid-area: "pok9";
    grid-row-start: 5;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 1;
  }

  main .grid-main .pok10 {
    grid-area: "pok10";
    grid-row-start: 5;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 2;
  }

  main .grid-main .pok11 {
    grid-area: "pok11";
    grid-row-start: 6;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 1;
  }

  main .grid-main .pok12 {
    grid-area: "pok12";
    grid-row-start: 6;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 2;
  }

  .prox {
    grid-area: "prox";
    grid-row-start: 7;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-bottom: 1%;
    width: 70%;
    margin-left: 65%;
  }

  .pro-box {
    margin: auto;
  }

  .card-flex .poke-data {
    height: fit-content;
  }

  .poke-void img {
    width: 15px;
  }

  .poke-name {
    font-size: 1.2rem;
    margin-left: -10px;
  }

  .old-price {
    font-size: 1rem;
  }

  .actual-price {
    font-size: 1.2rem;
  }

  .card-flex button img {
    max-width: 20px;
    max-height: 20px;
  }

  .btn .buy {
    font-size: 1.2rem;
  }

  .prox {
    width: 70%;
    margin-bottom: 0;
    margin-right: 110px;
  }
}
@media screen and (max-width: 360px) {
  .prox {
    width: 70%;
    margin-bottom: 0;
    margin-left: 110px;
  }
}
aside {
  grid-area: "sidenav";
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 2;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 20px;
}

.loop {
  cursor: pointer;
  position: relative;
}

aside .sizing {
  width: 100%;
  height: 100%;
}

aside .gambeta {
  position: relative;
  display: block;
  background-image: url("../images/tenor-wave.gif");
  background-size: cover;
  background-position: center center;
  height: 80vh;
  width: 30vw;
  margin-right: 20px;
}

aside a {
  text-decoration: none;
}

.gambeta .font-poke {
  position: relative;
  color: #FFDE00;
  text-shadow: 4px 4px 1px #012bff;
  line-height: auto;
  font-family: Pokemon;
  font-size: 50px;
  transition: all ease 0.9s;
  text-transform: uppercase;
  animation-duration: 3s;
  animation-name: slidein;
  margin-left: 10px;
}

.gambeta .font-poke:hover {
  text-shadow: 5px 12px 8px #012bff;
}

aside .gambeta::before {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  background-image: url("../images/tenor-wave-2.gif");
  background-position: auto;
  background-repeat: repeat;
  top: 0;
  left: 0;
  opacity: 0.3;
}

aside .poke-ads-title {
  background-color: #BA0A00;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
}

aside .poke-ads-description {
  font-size: 2rem;
  text-align: center;
  margin: 0;
}

aside .poke-ads-description-2 {
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
  color: white;
}

aside .poke-ads-font {
  font-family: Pokemon;
  font-size: 1.5rem;
  color: #FFDE00;
  text-shadow: 4px 4px 1px #012bff;
  text-align: center;
  margin: 0;
}

.news {
  background: #EEE;
  margin-top: 40px;
  padding: 30px 10px;
}

.news h4 {
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 0;
  text-align: center;
  font-size: 0.8rem;
}

.news input {
  padding: 8px;
  border: 0;
  width: 90%;
}

.news button {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  border: 0;
  color: #fff;
  background: #000;
  border-radius: 1% 1%;
}

/*------------ASIDE-ASIDE-ASIDE---------*/
/*------------ASIDE-------ASIDE---------*/
/*------------ASIDE-ASIDE-ASIDE---------*/
/*------------ASIDE-------ASIDE---------*/
/*------------ASIDE-------ASIDE---------*/
/*------------ASIDE-------ASIDE---------*/
@media screen and (max-width: 720px) {
  aside {
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 1;
    width: 100vw;
    height: auto;
    padding-left: 0;
    padding-right: 0;
    margin-top: 10%;
    padding-top: 20%;
  }
}
@media screen and (max-width: 414px) {
  aside {
    margin-top: 10%;
    padding-top: 50%;
  }
}
/*-- |FOOTER-FOOTER-FOOTER| -----*/
/*-- |FOOTER-FOOTER-FOOTER| -----*/
/*-- |FOOTER|             -------*/
/*-- |FOOTER|             -------*/
/*-- |FOOTER-FOOTER-FOOTER|------*/
/*-- |FOOTER-FOOTER-FOOTER|------*/
/*-- |FOOTER|              ------*/
/*-- |FOOTER|              ------*/
/*-- |FOOTER|              ------*/
footer {
  grid-area: "footer";
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
  /*  display: flex;
  justify-content: space-between; */
  width: 100vw;
  background-color: #000000;
  color: white;
}
footer .containerfoot {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}
footer .containerfoot .footer-nav {
  margin-left: 20px;
}
footer .containerfoot .footer-nav li {
  margin-bottom: 10px;
  list-style-type: none;
}
footer .containerfoot .footer-nav li a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}
footer .containerfoot .footer-nav li a:hover {
  color: #FFDE00;
}
footer .containerfoot .social2 {
  margin-right: 20px;
}
footer .containerfoot .social2 a {
  text-decoration: none;
}
footer .containerfoot .social2 a .socialfoot {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  margin-top: 10%;
  transition: all ease 0.4s;
}
footer #cf {
  margin-right: 50px;
  flex: 1;
  align-self: center;
  position: relative;
  height: auto;
}
footer #cf img {
  position: absolute;
  right: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
@keyframes cfFadeInOut {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
footer #cf .image-top {
  animation-name: cfFadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-direction: alternate;
}
footer .copyright {
  background: #262626;
  text-align: center;
  margin-top: 30px;
  color: white;
  padding: 20px 0;
}
footer .copyright .bottom {
  color: white;
  font-size: 20px;
  text-align: center;
  margin-bottom: 0;
}
footer .copyright .bottom .defaut-clean {
  text-decoration: none;
  color: white;
}

/*---SOCIAL--USED ON--FOOTER--&--HEADER-------*/
.socialfoot:hover {
  border: 1px solid #FFDE00;
  border-radius: 8%;
  box-shadow: 0 3px 10px #FFDE00;
  background-color: #ffea60;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
@media screen and (max-width: 720px) {
  footer {
    grid-area: "footer";
    grid-row-start: 5;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 1;
    padding-left: 0;
    width: 100vw;
  }
  footer .containerfoot {
    margin-left: 0;
  }
  footer .containerfoot .footer-nav {
    margin-left: 0;
  }
  footer .containerfoot .footer-nav li {
    margin-left: 0;
  }
  footer .containerfoot .footer-nav li a {
    margin-left: -30px;
    font-size: 0.9rem;
  }
  footer .containerfoot .social2 {
    display: flex;
    flex-direction: column;
    padding-right: 3%;
  }
  footer .containerfoot .social2 .socialfoot {
    width: 18px;
    height: 18px;
    border-radius: 2px;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: 10%;
  }
}
main .grid-main .pok1 {
  grid-area: "pok1";
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 1;
  background-image: url("../images/pikachu-01.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 1%;
  border: 1px solid #9FF1FF;
  margin: 0;
  height: 100%;
}

main .grid-main .pok2 {
  grid-area: "pok2";
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 2;
  grid-column-end: 2;
  background-image: url("../images/squirtle-01.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 1%;
  border: 1px solid #9FF1FF;
  margin: 0;
  height: 100%;
}

main .grid-main .pok3 {
  grid-area: "pok3";
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 3;
  grid-column-end: 3;
  background-image: url("../images/psyduck-01.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 1%;
  border: 1px solid #9FF1FF;
  margin: 0;
  height: 100%;
}

main .grid-main .pok4 {
  grid-area: "pok4";
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 4;
  grid-column-end: 4;
  background-image: url("../images/jigg-01.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 1%;
  border: 1px solid #9FF1FF;
  margin: 0;
  height: 100%;
}

main .grid-main .pok5 {
  grid-area: "pok5";
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 1;
  background-image: url("../images/ditto-01.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 1%;
  border: 1px solid #9FF1FF;
  margin: 0;
  height: 100%;
}

main .grid-main .pok6 {
  grid-area: "pok6";
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 2;
  background-image: url("../images/zapdos-01.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 1%;
  border: 1px solid #9FF1FF;
  margin: 0;
  height: 100%;
}

main .grid-main .pok7 {
  grid-area: "pok7";
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 3;
  background-image: url("../images/moltres-01-01.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 1%;
  border: 1px solid #9FF1FF;
  margin: 0;
  height: 100%;
}

main .grid-main .pok8 {
  grid-area: "pok8";
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 4;
  grid-column-end: 4;
  background-image: url("../images/meow-01.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 1%;
  border: 1px solid #9FF1FF;
  margin: 0;
  height: 100%;
}

main .grid-main .pok9 {
  grid-area: "pok9";
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 1;
  background-image: url("../images/articuno-01.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 1%;
  border: 1px solid #9FF1FF;
  margin: 0;
  height: 100%;
}

main .grid-main .pok10 {
  grid-area: "pok10";
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 2;
  background-image: url("../images/absol-01.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 1%;
  border: 1px solid #9FF1FF;
  margin: 0;
  height: 100%;
}

main .grid-main .pok11 {
  grid-area: "pok11";
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 3;
  background-image: url("../images/beedrill-01.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 1%;
  border: 1px solid #9FF1FF;
  margin: 0;
  height: 100%;
}

main .grid-main .pok12 {
  grid-area: "pok12";
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 4;
  grid-column-end: 4;
  background-image: url("../images/heracross-01.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 1%;
  border: 1px solid #9FF1FF;
  margin: 0;
  height: 100%;
}

.top-pokes {
  transform: all ease 0.5s;
  height: 100%;
  margin-top: 1%;
}
.top-pokes h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 35px;
  border-bottom: solid 1px #DDD;
  padding: 5% 0;
  margin: 0;
}
.top-pokes ol {
  list-style-type: decimal;
}
.top-pokes ol li .poke-img {
  max-width: 70px;
  margin: 0 8px;
}
.top-pokes ol li span {
  font-family: "Yanone Kaffeesatz", sans-serif;
  text-shadow: none;
  font-size: 20px;
  font-weight: 300;
  margin-left: -20px;
}
.top-pokes li::before {
  content: counter(li) "º";
  font-size: 36px;
  font-weight: bold;
  line-height: 0;
}

aside .top-pokes ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 75%;
  font-family: Pokemon;
  color: #012bff;
  text-shadow: 4px 4px 1px #FFDE00;
}
aside .top-pokes ol li {
  transition: all ease 0.3s;
  background: linear-gradient(-45deg, white, #8a23ff, white, white);
  background-size: 400% 400%;
  counter-increment: li;
  display: flex;
  align-items: center;
  padding: 2%;
  border-bottom: solid 1px #DDD;
  cursor: pointer;
  height: auto;
}
aside .top-pokes ol li:hover {
  animation: topPokeAnima 5s ease infinite;
  color: #FFDE00;
  text-shadow: 4px 4px 1px #012bff;
}
@keyframes topPokeAnima {
  0% {
    background-position: 0% 5%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

footer .top-pokes {
  max-width: 60vw;
}
footer .top-pokes h3 {
  font-family: Pokemon;
  font-size: 25px;
  border-bottom: solid 1px #DDD;
  padding: 3% 0;
}
footer .top-pokes ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 75%;
  font-family: Pokemon;
  color: #FFDE00;
  text-shadow: 4px 4px 1px #012bff;
}
footer .top-pokes ol li {
  transition: all ease 0.5s;
  background: linear-gradient(180deg, #000000, #000000, #BA0A00, #262626);
  background-size: 600% 600%;
  counter-increment: li;
  display: flex;
  align-items: center;
  padding: 2%;
  cursor: pointer;
  height: auto;
}
footer .top-pokes ol li .poke-img {
  margin: 0 8px;
  max-width: 150px;
}
footer .top-pokes ol li span {
  font-family: "Yanone Kaffeesatz", sans-serif;
  text-shadow: none;
  font-size: 20px;
  font-weight: 400;
  margin-left: -20px;
}
footer .top-pokes ol li:hover {
  animation: topPokeFootAnima 3s ease infinite;
  border-bottom: solid 1px #DDD;
  padding: 5%;
  color: #FFDE00;
  text-shadow: 4px 4px 1px #012bff;
}
@keyframes topPokeFootAnima {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}
footer .top-pokes ol li:last-child {
  border-bottom: 0;
  text-shadow: 4px 4px 1px #012bff;
}

@media screen and (max-width: 720px) {
  footer .top-pokes h3 {
    font-size: 18px;
  }
  footer .top-pokes ol {
    font-size: 0.9rem;
  }
  footer .top-pokes ol li .poke-img {
    max-width: 20vw;
    margin-left: -5px;
  }
  footer .top-pokes ol li span {
    font-size: 1.5rem;
    margin-left: 0;
  }
}

/*# sourceMappingURL=style.css.map */
