
/* Content Styles */

$pokeFont: Pokemon;
$fontText: "Yanone Kaffeesatz", sans-serif;

$texShadow: 4px 4px 1px #012bff;

/*COLOR THEME */

$yellowPok: #FFDE00;
$yellow2Pok: #ffea60;
$yellow3Pok: #dca202;
$bluePok: #012bff;
$blue2Pok: #5671f7;
$headerColor: rgba(214, 68, 0, 0.863);
$navColor: black;
$fontWhite: white;
$cardBorder: 1px solid rgb(184, 249, 252);
$footerColor: rgb(26, 26, 26);
$hovTopColor: red;
$hovTopBgColor: rgb(195, 242, 255);
$btnCardBg: linear-gradient(-45deg, #ce0606, #ec6834, #d5c923, #23d5ab);
$nextBtnBg: linear-gradient(-45deg,#fbff00, #fff1eb, #8a23ff, #0c10fa);


/* Costeletas-Ribs-Sider's */

$sideBlancleft: url("../images/pokeball-left-01.png");
$sideBlancright: url("../images/pokeball-right-01.png");


/* Product Images */

$pokePikachu: url("../images/pikachu-01.png");
$pokeSquirtle: url("../images/squirtle-01.png");
$pokePsyduck: url("../images/psyduck-01.png");
$pokeJigg: url("../images/jigg-01.png");
$pokeDitto: url("../images/ditto-01.png");
$pokeZapdos: url("../images/zapdos-01.png");
$pokeMotres: url("../images/moltres-01-01.png");
$pokeMew: url("../images/meow-01.png");
$pokeArticu: url("../images/articuno-01.png");
$pokeAbsol: url("../images/absol-01.png");
$pokeBeedri: url("../images/beedrill-01.png");
$pokeHeracro: url("../images/heracross-01.png");
