

$pokeFont: Pokemon;
$fontText: "Yanone Kaffeesatz", sans-serif;

$texShadow: 4px 4px 1px #012bff;
$texShadowRev: 4px 4px 1px #FFDE00;

$yellowPok: #FFDE00;
$yellow2Pok: #ffea60;
$yellow3Pok: #d09801;
$bluePok: #012bff;
$blue2Pok: #5671f7;
$pokeRed: #BA0A00;
$headerColor: #bb4d03;
$navBgColor: #000000;
$navColor: white;
$fontWhite: white;
$cardBorder: 1px solid #9FF1FF;
$footerColor: #000000;
$hovTopColor: #FFDE00;
$hovTopBgColor: #C67DFF;
$btnCardBg: linear-gradient(-45deg, #BA0A00, #ec6834, #dca202, #5671f7);
$nextBtnBg: linear-gradient(-45deg,#ffea60, #fff1eb, #8a23ff, #012bff);
$topBtnBg: linear-gradient(-45deg,white,#8a23ff, white , white);
$topBtnFoot: linear-gradient(180deg,#000000,#000000,#BA0A00 ,#262626);



$sideBlancleft: url("../images/pokeball-left-01.png");
$sideBlancright: url("../images/pokeball-right-01.png");



$pokePikachu: url("../images/pikachu-01.png");
$pokeSquirtle: url("../images/squirtle-01.png");
$pokePsyduck: url("../images/psyduck-01.png");
$pokeJigg: url("../images/jigg-01.png");
$pokeDitto: url("../images/ditto-01.png");
$pokeZapdos: url("../images/zapdos-01.png");
$pokeMotres: url("../images/moltres-01-01.png");
$pokeMew: url("../images/meow-01.png");
$pokeArticu: url("../images/articuno-01.png");
$pokeAbsol: url("../images/absol-01.png");
$pokeBeedri: url("../images/beedrill-01.png");
$pokeHeracro: url("../images/heracross-01.png");


/* Mobile Media Querie*/
$mobileBreakpointGg: 926px;
$mobileBreakpointG: 810px;
$mobileBreakpointM: 428px;
$mobileBreakpointP: 360px;
