@use 'config';

main {
    margin-top: 20px;
    grid-area: "content";
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
    .poke-list {
        font-family: config.$fontText;
        display: grid;
        grid-template-rows:
        360px 360px 360px 360px 360px;
        grid-template-columns:
        16vw 16vw 16vw 16vw;
        grid-template-areas:
        'pok1 pok2  pok3  pok4'
        'pok5 pok6  pok7  pok8'
        'pok9 pok10 pok11 pok12'
        'pok13 pok14 pok15 pok16'
        'pok17 pok18 pok19 pok20';
        /*'prox prox prox prox';*/
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
        .poke {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-content: flex-end;
            align-items: stretch;
            flex: 1;
            justify-content: space-between;
            /*justify-content: flex-end;*/
            transform: all ease 0.5s;
            text-align: center;
            border: 1px solid rgb(173, 200, 255);
            .card-head {
                align-self: center;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: flex-end;
                font-size: 0.8rem;
                margin-bottom: 0;
                width: 80%;
                flex: 1;
                .poke-void {
                    align-self: flex-end;
                    img {
                        transform: all ease 0.5s;
                        margin-top: 5px;
                        margin-bottom: 5px;
                        margin-right: 5px;
                    }
                    img:hover {
                        width: 25px;
                        animation: pikaspin 3s infinite linear;
                        background-image:
                        url("../images/pokeball-2.png");
                        background-position-y: 40%;
                        background-repeat: no-repeat;
                        background-size: cover;
                        cursor:progress ;
                    }
                }
            }
            .poke-pic {
                flex-basis: auto;
                align-self: center;
                width: 160px;
                height: 160px;
            }
            .card-feet {
                display: flex;
                flex-direction: column;
                align-content: center;
                margin: 0;
                flex-wrap: wrap;
                justify-content: center;
                padding: 0;
                flex: 1;
                align-items: center;
                h2 {
                    margin-bottom: -15px;
                    .poke-name {
                        color: black;
                        font-weight: 800;
                        font-size: 0.5rem;
                    }
                }
                .old-price {
                    flex-shrink: 1;
                    text-decoration: line-through;
                    color: red;
                    font-size: 18px;
                    margin-bottom: -15px;
                }
                .actual-price {
                    flex-shrink: 1;
                    color: rgb(25, 184, 0);
                    font-weight: bold;
                    font-size: 20px;
                    margin-bottom: 0;
                }
                button {
                    list-style: none;
                    text-align: center;
                    margin-left: 10px;
                }
                .btn {
                    /*flex-wrap: wrap;*/
                    text-align: center;
                    /*padding-right: 2.5rem;*/
                    background: config.$btnCardBg;
                    background-size: 400% 400%;
                    cursor: pointer;
                    display: flex;
                    justify-content: space-between;
                    border: 1px solid rgb(0, 0, 0);
                    border-radius: 10px;
                    padding-left: 3%;
                    padding-right: 12%;
                    padding-bottom: 3%;
                    padding-top: 6%;
                    font-size: 2.5vh;
                    font-weight: 600;
                    line-height: 2.4vh;
                    width: 90%;
                    margin-left: 5px;
                    margin-right: 5px;
                    margin-bottom: 10px;
                    img {
                        height: 1.9rem;
                        margin-top: 0;
                        margin-bottom: 0;
                        margin-right: 0.3rem;
                        margin-left: 0.3rem;
                    }
                }
                .btn:hover {
                    animation: pokeBtnAnimation 5s ease infinite;
                }
            }
        }
        .card:hover {
            box-shadow: 2px 3px 20px config.$bluePok;
        }

    }
}

.pagination {
    /*grid-area: "prox";
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;*/
    padding: 0;
    margin: 10px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    transition: all ease 0.4s;
    width: 100%;
    border: 1px solid black;
        button {
            padding: 10px 20px;
            margin-left: 5%;
            margin-right: 5%;
            border-radius: 2%;
            cursor: pointer;
            background: config.$nextBtnBg;
            background-size: 300% 300%;
            align-self: center;
            text-decoration: none;
            color: rgb(0, 0, 0);
            font-size: 1.2rem;
            margin-bottom: 0;
            margin-top: 0;
                .btn-ant {


                }
                .btn-pro {

                }
        }
        button:hover {
            animation: pokeProxAnimation 1.5s ease infinite;
        }
}

/*.prox {
    grid-area: "prox";
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
    padding-bottom: 5%;
    margin-bottom: 1%;
    margin-top: 15%;
    margin-left: 30%;
    align-self: center;
    .prox-box{
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        flex: 1 1 100%;
        transition: all ease 0.4s;
        width: 100%;
        margin: auto;
        cursor: pointer;
        .prox-item {
            border: 1px solid black;
            padding-top: 2%;
            padding-bottom: 2%;
            padding-left: 8%;
            padding-right: 8%;
            margin-left: 5%;
            margin-right: 5%;
            border-radius: 2%;
            background: config.$nextBtnBg;
            background-size: 300% 300%;
            a {
                align-self: center;
                text-decoration: none;
                color: rgb(0, 0, 0);
                font-size: 1.2rem;
                margin-bottom: 0;
                margin-top: 0;
            }
        }
        .prox-item:hover {
            animation: pokeProxAnimation 1.8s ease infinite;
            font-size: 1.1rem;
            font-weight: 800;
        }
        .prox-item:last-child {
            margin-right: 1%;
        }
        .active:hover {
            animation: none;
            font-weight: 400;
        }
    }
}*/

@keyframes pokeBtnAnimation {
    0% {
        background-position: 0% 5%;
        color: #DDD;
        text-shadow:
        0.2px 0.5vh 0.1vw config.$blue2Pok;
        font-family: Pokemon;
    }
    50% {
        background-position: 100% 50%;
        font-size: 1.9rem;
        font-family: Pokemon;
    }
    100% {
        background-position: 0% 50%;
        color: config.$yellowPok;
        text-shadow:
        0.2rem 0.5vh 0.1vw config.$bluePok;
        font-family: Pokemon;
    }
}

@keyframes pokeProxAnimation {
    0% {
        background-position: 0% 5%;
    }
    25% {
        background-position: 100% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
/*---------|MAN-|MAIN|-----|MAIN|-|MAIN------*/
/*---------|MAN-|MAIN|-----|MAIN|-|MAIN------*/
/*---------|MAN-------|MAIN|------|MAIN------*/
/*---------|MAN-------|MAIN|------|MAIN------*/
/*---------|MAN-------|MAIN|------|MAIN------*/
@media screen and (max-width: config.$mobileBreakpointG){
    main {
        grid-area: 'content';
        grid-column-start: 1;
        grid-column-end: 1;
        width: 100%;
        margin-bottom: 10px;
        margin-left: 0;
        .grid-main {
            grid-template-rows:
            360px 360px 360px 360px 360px 360px 5vh;
            grid-template-columns:
            50% 50%;
            grid-template-areas:
            'pok1 pok2'
            'pok3  pok4'
            'pok5 pok6'
            'pok7  pok8'
            'pok9 pok10'
            'pok11 pok12'
            'prox prox';
            grid-column-gap: 10px;
            grid-row-gap: 10px;
            .card {
                .card-head {
                    .poke-void {
                        img {
                            width: 15px;
                        }
                    }
                }
                .poke-pic {
                }
                .card-feet {
                    h2 .poke-name{
                        font-size: 1.2rem;
                        margin-left: -10px;
                    }
                }
                .old-price {
                    font-size: 1rem;
                }
                .actual-price {
                    font-size: 1.2rem;
                }
                button {
                }
                .btn {
                    .img {
                        max-width: 20px;
                        max-height: 20px;
                    }
                    .buy {
                        font-size: 1.2rem;
                    }
                }
            }
            .prox {
                grid-area: "prox";
                grid-row-start: 7;
                grid-row-end: 7;
                grid-column-start: 1;
                grid-column-end: 2;
                margin-bottom: 1%;
                width: 70%;
                margin-left: 65%;
                margin-right: 110px;
                .pro-box {
                    margin: auto;
                }
            }
        }
    }
}

@media screen and (max-width: config.$mobileBreakpointP){
    .prox {
        width: 70%;
        margin-bottom: 0;
        margin-left: 110px;
    }
}
