@use 'config';

main {
    grid-area: conteudo;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
    // display: flex;
    // justify-content: baseline;
    // flex-direction: column;
    // align-items: center;
    width: 67vw;
    margin: 10px;
    .poke-list {
        // width: 68vw;
        font-family: config.$fontText;
        display: grid;
        grid-template-rows:
        335px 330px 330px 330px 330px 70px;
        grid-template-columns:
        16.5vw 16.5vw 16.5vw 16.5vw;
        grid-template-areas:
        'slot slot slot slot'
        'slot slot slot slot'
        'slot slot slot slot'
        'slot slot slot slot'
        'slot slot slot slot'
        'prox prox prox prox';
        grid-column-gap: 10px;
        grid-row-gap: 35px;
        text-align: center;
        .poke {
            height: 95%;
            transition: all ease-in-out 3s;
            text-align: center;
            border: 1px solid rgb(173, 200, 255);
            border-radius: 5px;
            padding: 10px;
            a {
                text-decoration: none;
                color: black;
                .card-feet {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    max-height: 100px;
                    width: auto;
                    height: auto;
                    margin-left: 3px;
                    margin-right: 6px;
                    .poke-pic {
                        // align-self: center;
                        width:150px;
                        height:150px;
                        margin: 0;
                        // margin-bottom: 20px;
                    }
                    h2 {
                        text-transform: capitalize;
                        // margin-top: 20px;
                        // margin-bottom: 0;
                        margin: 0;
                        padding: 0;
                        font-weight: 800;
                        font-size: 30px;
                    }
                    .old-price {
                        // flex-shrink: 1;
                        text-decoration: line-through;
                        color: red;
                        font-size: 23px;
                        // margin-bottom: 5px;
                        margin: 0;
                    }
                    .actual-price {
                        // flex-shrink: 1;
                        color: rgb(25, 184, 0);
                        font-weight: bold;
                        font-size: 27px;
                        // margin: 0;
                        margin: 0;
                    }
                    .parcela-price {
                        color: rgb(0, 9, 184);
                        font-weight: bold;
                        font-size: 23px;
                        margin: 0;
                        // margin-top: 0;
                    }
                    div button{
                        margin: 0;
                        // margin-bottom: 10px;
                        width: 16.5vw;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                    .btn {
                        /*padding-right: 2.5rem;*/
                        background: config.$btnCardBg;
                        background-size: 400% 400%;
                        cursor: pointer;
                        border: 1px solid rgb(0, 0, 0);
                        border-radius: 5px;
                        padding: 10px;
                        img {
                            height: 1.9rem;
                            margin-top: 0;
                            margin-bottom: 0;
                            margin-right: 0.3rem;
                            margin-left: 0.3rem;
                        }
                        span{
                            font-size: 1rem;
                            font-weight: 600;
                            color: white;
                        }
                    }
                    button:hover {
                        animation: pokeBtnAnimation 5s ease infinite;
                        span{
                            animation: buyAnimation 4s ease infinite;
                        }
                    }
                }
            }
        }
        .poke:hover {
            box-shadow: 2px 3px 20px config.$bluePok;
            background-color: #000000;
            transition: all ease-in-out 3s;

            h2 {
            // font-family: config.$pokeFont;
            // margin-top: -30px;
            color:config.$yellowPok;
            // text-shadow: config.$texShadow;
            }
        }
    }
    .pagination {
        grid-area: prox;
        grid-row-start: 6;
        grid-row-end: 6;
        grid-column-start: 1;
        grid-column-end: 4;
        padding: 10px;
        margin: 10px;
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: space-between;
        transition: all ease 0.4s;
        width: 70vw;
            .paginate {
                align-self: center;
                cursor: pointer;
    
                text-decoration: none;
                color: rgb(0, 0, 0);
                font-size: 1.2rem;
    
                background: config.$nextBtnBg;
                background-size: 300% 300%;
                margin: 1%;
                width: 80vw;
                padding: 5px 10px;
                border-radius: 3%;
            }
            button:hover {
                animation: pokeProxAnimation 1.5s ease infinite;
            }
            .page-log {
                font-size: 15px;
            }
    }
}


@keyframes buyAnimation {
    0% {
        color: #DDD;
        text-shadow:
        0.2px 0.5vh 0.1vw config.$blue2Pok;
        font-family: Pokemon;
    }
    50% {
        font-size: 1.3rem;
        font-family: Pokemon;
    }
    100% {
        color: config.$yellowPok;
        text-shadow:
        0.2rem 0.5vh 0.1vw config.$bluePok;
        font-family: Pokemon;
    }
}
@keyframes pokeBtnAnimation {
    0% {
        background-position: 0% 5%;
        color: #DDD;
        text-shadow:
        0.2px 0.5vh 0.1vw config.$blue2Pok;
        font-family: Pokemon;
    }
    50% {
        background-position: 100% 50%;
        font-size: 1.3rem;
        font-family: Pokemon;
    }
    100% {
        background-position: 0% 50%;
        color: config.$yellowPok;
        text-shadow:
        0.2rem 0.5vh 0.1vw config.$bluePok;
        font-family: Pokemon;
    }
}

@keyframes pokeProxAnimation {
    0% {
        background-position: 0% 5%;
    }
    25% {
        background-position: 100% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
/*---------|MAN-|MAIN|-----|MAIN|-|MAIN------*/
/*---------|MAN-|MAIN|-----|MAIN|-|MAIN------*/
/*---------|MAN-------|MAIN|------|MAIN------*/
/*---------|MAN-------|MAIN|------|MAIN------*/
/*---------|MAN-------|MAIN|------|MAIN------*/
@media screen and (max-width: config.$mobileBreakpointG){
    main {
        grid-area: conteudo;
        grid-column-start: 1;
        grid-column-end: 1;
        width: 100vw;
        margin-bottom: 10px;
        margin-left: 0;
        .poke-list {
            grid-template-rows:
            360px 360px 360px 360px 360px 360px 360px 360px 360px 360px 5vh;
            grid-template-columns:
            50% 50%;
            grid-template-areas:
            'slot slot'
            'slot slot'
            'slot slot'
            'slot slot'
            'slot slot'
            'slot slot'
            'slot slot'
            'slot slot'
            'slot slot'
            'slot slot'
            'prox prox';
            grid-column-gap: 10px;
            grid-row-gap: 10px;

            .poke a .card-feet {
                width: 40vw;
                h2 .poke-name{

                }
                .old-price {
                    font-size: 1rem;
                }
                .actual-price {
                    font-size: 1.2rem;
                }
                div button {
                    .btn {
                        .img {
                            max-width: 20px;
                            max-height: 20px;
                        }
                        .buy {
                            font-size: 1.2rem;
                        }
                    }
                }
            }
            .loading {
                width: 80vw;
            }
        }
        .pagination {
            grid-area: prox;
            grid-row-start: 11;
            grid-row-end: 11;
            grid-column-start: 1;
            grid-column-end: 2;
            width: 80vw;
            align-self: center;
            margin-left: 20px;
            .paginate {
                font-size: 0.9rem;
            }
        }
    }
}
@media screen and (max-width: config.$mobileBreakpointM){
    main {
        grid-area: conteudo;
        grid-column-start: 1;
        grid-column-end: 1;
        width: 100vw;
        margin-bottom: 10px;
        margin-left: 0;
        .poke-list {
            grid-template-rows:
            320px 320px 320px 320px 320px 320px 320px 320px 320px 320px 5vh;
            grid-template-columns:
            47vw 47vw;
            margin: 5px;
            .poke a .card-feet {
                height: 360px;
                h2 .poke-name{

                }
                .old-price {
                    font-size: 1rem;
                }
                .actual-price {
                    font-size: 1.2rem;
                }
                div button {
                    align-self: center;
                    width: 195px;
                    .btn {
                        .img {
                            max-width: 20px;
                            max-height: 20px;
                        }
                        .buy {
                            font-size: 1.2rem;
                        }
                    }
                }
            }
            .loading {
                width: 80vw;
            }
        }
        .pagination {
            grid-area: prox;
            grid-row-start: 11;
            grid-row-end: 11;
            grid-column-start: 1;
            grid-column-end: 2;
            width: 80vw;
            align-self: center;
            margin-left: 20px;
            .paginate {
                font-size: 0.9rem;
            }
        }
    }
}
@media screen and (max-width: config.$mobileBreakpointP){
    main {
        grid-area: conteudo;
        grid-column-start: 1;
        grid-column-end: 1;
        width: 100vw;
        margin-bottom: 10px;
        margin-left: 0;
        .poke-list {
            grid-template-rows:
            360px 360px 360px 360px 360px 360px 360px 360px 360px 360px 5vh;
            grid-template-columns:
            48% 48%;
            grid-template-areas:
            'slot slot'
            'slot slot'
            'slot slot'
            'slot slot'
            'slot slot'
            'slot slot'
            'slot slot'
            'slot slot'
            'slot slot'
            'slot slot'
            'prox prox';
            grid-column-gap: 10px;
            grid-row-gap: 10px;

            .poke {
                height: 85%;
                a .card-feet {
                    width: 40vw;
                    h2 .poke-name{
                        font-size: 1.2rem;
                        margin-left: -10px;
                        text-transform: capitalize;
                    }
                    .old-price {
                        font-size: 1rem;
                    }
                    .actual-price {
                        font-size: 1.2rem;
                    }
                    div button {
                        width: 170px;
    
                        .btn {
                            .img {
                                max-width: 20px;
                                max-height: 20px;
                            }
                            .buy {
                                font-size: 1.2rem;
                            }
                        }
                    }
            }
            }
            .loading {
                width: 80vw;
            }
        }
        .pagination {
            grid-area: prox;
            grid-row-start: 11;
            grid-row-end: 11;
            grid-column-start: 1;
            grid-column-end: 2;
            width: 80vw;
            align-self: center;
            margin-left: 20px;
            .paginate {
                font-size: 0.9rem;
            }
        }
    }
}

