@use 'config';

main {
    margin: 10px;
    padding: 10px;
    grid-area: "content";
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
    width: 70vw;
        .poke-data {
            background-color: config.$headerColor;
            padding: 10px;
            border: 1px solid black;
            border-radius: 5px;
            box-shadow: 1px 1px 18px 4px #000000;
            .card-game{
                border: 20px solid config.$yellowPok;
                border-radius: 20px;
                background-image: url('https://c.tenor.com/pK6hhq40TB0AAAAM/moving-wallpaper-wallpaper.gif');
                background-repeat: no-repeat;
                background-size: cover ;
                margin-bottom: 30px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                .card-name{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: baseline;
                    width: 95%;
                    margin-top: 0;
                    margin-bottom: 0;
                    .name-icone{
                        display: flex;
                        flex-direction: row;
                        align-items: baseline;
                        justify-content: flex-start;
                        margin-bottom: -10px;
                        .poke-icone{
                            border: 4px solid config.$yellowPok;
                            border-radius: 50%;
                            background-color: rgb(177, 177, 177);
                            padding: 5px;
                            width: 100px;
                            margin-top: -15px;
                            position: absolute;
                        }
                        h1{
                            position: relative;
                            font-size: 35px;
                            text-transform: capitalize;
                            font-weight: bolder;
                            margin-top: 5px;
                            margin-left: 100px;
                            margin-bottom: 3px;
                        }
                    }
                    h3{
                        margin: 0;
                        font-size: 35px;
                        i{
                            border: 2px solid config.$yellowPok;
                            border-radius: 50%;
                            background: config.$iconRoundBg;

                            padding: 8px;

                        }
                    }
                }
                .img-principal{
                    margin-top: 0;
                    margin-bottom: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 85%;

                    img{
                        margin: 0;
                        width: 100%;
                        border: 7px solid config.$yellowPok;
                        box-shadow: 1px 1px 18px 4px #000000;
                        // background-image: url('https://c.tenor.com/VpjOpBj2uycAAAAM/natural-nature.gif');
                        // background-image: url('https://i.pinimg.com/originals/de/ea/3f/deea3ff8c40767a979fec03a48d4a899.gif');
                        background-image: url('https://thumbs.gfycat.com/AchingSoggyCur-size_restricted.gif');
                        background-repeat: no-repeat;
                        background-size: 100% 100%;
                        background-position-y: bottom;
                    }
                    h4{
                        background-color: config.$yellowPok;
                        border: 3px solid config.$yellow3Pok;
                        border-radius: 5px;
                        padding-left: 10px;
                        padding-right: 10px;
                        width: fit-content;
                        text-align: center;
                        font-size: 25px;
                        margin-top: 8px;
                        margin-bottom: 0;
                    }
                }
                .first-attack{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: baseline;
                    width: 95%;
                    border-bottom: 1px solid black;
                    i{
                        font-size: 30px;
                        border: 2px solid white;
                        border-radius: 50%;
                        background: config.$iconRound2Bg;

                        background-size: contain;
                        padding: 8px;
                    }
                    h5{
                        text-transform: capitalize;
                        font-size: 25px;
                    }
                }
                .second-attack{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: baseline;
                    width: 95%;
                    margin-bottom: 5px;
                    i{
                        font-size: 20px;
                        border: 2px solid white;
                        border-radius: 50%;
                        background: config.$iconRound2Bg;

                        background-size: contain;
                        padding: 3px;
                        margin-left: 0;
                        margin-right: 0;
                    }
                    h5{
                        text-transform: capitalize;
                        font-size: 25px;
                    }
                }
                .card-footer{
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: space-around;
                    width: 100%;
                    border-bottom: 4px solid black;
                    padding-bottom: 5px;
                    margin-top: 0;
                    .weakness{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        width: 51%;
                        border-top: 4px solid black;
                        h6{
                            height: 50%;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-around;
                            align-items: center;
                            width: 100%;
                            font-size: 15px;
                            margin-top: 20px;
                            margin-bottom: 15px;
                            border-bottom: 1px solid black;
                            padding-bottom: 15px;
                            .elemental{
                                background: config.$iconRoundBg;
                                font-size: 17px;
                                border: 2px solid config.$yellow2Pok;
                                border-radius: 50%;
                                background-size: contain;
                                padding: 3px;
                            }

                            i{
                                background: config.$iconRound2Bg;
                                font-size: 20px;
                                border: 2px solid config.$yellow2Pok;
                                border-radius: 50%;
                                background-size: contain;
                                padding: 5px;
                            }
                        }
                        h5{
                            height: 50%;

                            display: flex;
                            flex-direction: row;
                            justify-content: space-around;
                            align-items: center;
                            width: 50%;
                            font-size: 17px;
                            margin-top: 0;
                            margin-bottom: 5px;
                            padding-bottom: 5px;
                            padding-top: 0;
                            span{
                                text-align: center;
                                margin-top: 0;
                                margin-bottom: 0;
                                padding-top: 0;
                                padding-bottom: 0;
                                i{
                                    border: 2px solid white;
                                    border-radius: 50%;
                                    background: config.$iconRound2Bg;
                                    background-size: contain;
                                    padding: 5px;
                                    margin-top: 0;
                                    margin-bottom: 0;
                                }
                            } 

                            
                        }
                    }
                    .information{
                        border: 3px solid config.$yellow3Pok;
                        width: 48%;
                        margin-bottom: 5px;
                        p{
                            font-size: 15px;
                            padding: 3px;
                            margin-left: 5px;
                            text-align: justify;
                        }
                    }
                }
                .card-bottom{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 102%;
                    margin-top: 0;
                    margin-bottom: 0;
                    h6{
                        margin-top: 5px;
                        margin-bottom: 2px;
                        font-size: 15px;
                    }
                }

            }

            .pokemon {
                border: 1px solid gray;
                border-radius: 5px;
                padding: 10px;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                text-transform: capitalize;
                background-color: rgb(0, 0, 0);
                width: 100%;
                // height: auto;
                h1{
                    color: config.$headerColor;
                    text-shadow:  4px 4px 1px #ffdf0d;
                    text-align: center;
                    margin-top: 0;
                    font-family: config.$pokeFont;
                    font-size: 45px;
                }
                .poke-img {
                    width: 50%;
                    // margin-top: -20px;
                    // margin: 10px;
                    border: 1px solid black;
                    transition: all ease-in-out .3s;
                    border-radius: 5px;

                    img{
                        // background-color: rgb(251, 242, 251);

                        align-self: center;
                        width: 90%;
                        height: 90%;
                        
                        // margin-bottom: 55px;
                        transition: all ease-in-out .8s;

                    }
                }
                .poke-img:hover{
                    // background-color: black;
                    background-image: url('../images/tenor.gif');
                    background-repeat: no-repeat;
                    rotate: 90;
                    background-size: cover;
                    background-position: center;
                    border: 1px solid white;
                    transition: all ease-in-out 1.5s;

                }
                .poke-status {
                    background-color: rgb(195, 124, 243);
                    border: 5px solid config.$pokeRed;
                    border-radius: 5px;
                    margin: 10px;
                    padding: 10px;
                    width: 50%;
                    img {
                        width: 100%;
                        margin-top: -35px;

                    }
                    .name-animated{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        width: 100%;
                        margin-top: 20px;
                        .poke-numbers{
                            border: 1px solid black;
                            background-color: config.$blue2Pok;
                            border-radius: 5px;
                            padding: 5px;
                            height: fit-content;
                            h3{
                                font-size: 18px;
                            }
                        }
                        .animated {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                            align-items: center;
                            width: 50%;
                            margin-left: 15px;

                        }
                        h2{
                            font-size: 27px;
                        }
                    }
                    .tipos {
                        border-radius: 5px;
                        background-color: white;
                        li{
                            font-size: 22px;
                            margin: 5px;
                        }
                    }
                }
            }

            .poke-info {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .info-head {
                    display: flex;
                    flex-direction: row;
                    img{
                        width: 80px;
                    }
                }
                h5{
                    font-family: config.$pokeFont;
                    font-size: 25px;
                    text-transform: capitalize;
                }
                p{
                    font-size: 17px;
                    text-align: justify;
                    background-color: white;
                    padding: 5px;
                    border-radius: 5px;
                }
                img{
                    width: 100%;
                }
                
                .other-images {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    img {
                        width: 175px;
                        margin-top: -60px;

                    }
                }
                table{
                    width: 100%;
                    margin-top: 10px;
                    border: 1px solid black;
                    border-radius: 5px;
                    background-color: config.$blue2Pok;

                    th{
                        
                        border-right: 1px solid black;
                        border-bottom: 1px solid black;
                        width: 25%;
                    }
                    .no-border{
                        border-right: 0;
                    }
                    tr {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-evenly;
                        // align-items: center;
                        td{
                            border-radius: 5px;
                            border-right: 1px solid black;
                            background-color: white;
                            width: 100%;
                            img{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        .buttons{
            margin-top: 5px;
            margin-bottom: 15px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            button{
                font-size: 20px;
                font-weight: 800;
            }
        }
}
@media screen and(max-width:config.$mobileBreakpointG) {
    main{
        width: 100vw;
        // height: 100vh;
        margin: 0;
        margin-top: 5px;
        .poke-data .pokemon{
            width: 100%;
            .poke-img {
                height: 100%;
                margin-top: 15px;
                margin-bottom: 15px;
                h1{
                    font-size: 32px;
                    line-height: 32px;
                }
                img{
                    width: 420px;
                    height: 580px;
                    margin-left: 0;
                    margin-right: 0;
                    margin-top: 25px;
                    margin-bottom: 25px;
                }
            }
            .poke-status {
                padding: 15px;
                margin: 5px;
                h2{
                    font-size: 25px;
                }
                li{
                    font-size: 22px;
                }
            }
        }
    }
}


@media screen and(max-width:config.$mobileBreakpointMm) {
    main{
        width: 100vw;
        height: auto;

        margin: 0;
        padding: 0;
        .poke-data {
            .card-game{
                .card-name{
                    .name-icone{
                        h1{
                            font-size: 25px;
                        }
                    }
                    h3{
                        font-size: 25px;

                    }
                }
                .img-principal{
                    h4{
                        font-size: 12px;
                    }
                }
                .first-attack{
                    i{
                        font-size: 17px;
                        padding: 3px;
                    }
                    h5{
                        font-size: 20px;
                    }
                }
                .second-attack{
                    i{
                        font-size: 15px;
                        padding: 3px;
                    }
                    h5{
                        font-size: 15px;
                    }
                }
                .card-footer{
                    width: 95%;
                    .weakness{
                        h6{
                            font-size: 17px;
                            i{
                                font-size: 17px;
                            }
                        }
                        h5{
                            width: 75%;
                            font-size: 15px;
                            span{
                                i{
                                    padding: 3px;
                                    font-size: 17px;
                                }
                            }
                        }
                    }
                    .information{
                        p{
                            padding: 2px;
                            font-size: 10px;
                        }
                    }
                }

            }


            .pokemon{
                flex-direction: column;
                width: auto;
                .poke-img {
                    height: 100%;
                    margin-top: 15px;
                    margin-bottom: 15px;
                    h1{
                        font-size: 29px;
                        line-height: 22px;
                    }
                    img{
                        width: 100vw;
                        // height: 380px;
                        margin-left: 0;
                        margin-right: 0;
                        margin-top: 25px;
                        margin-bottom: 25px;
                    }
                }
                .poke-status {
                    padding: 15px;
                    margin: 5px;
                    width: 100%;
                    h2{
                        font-size: 22px;
                    }
                    li{
                        font-size: 19px;
                    }
                }
            }
            .poke-info {
                table{
                width: 100vw;
                }
            }
        }
    }
}

@media screen and(max-width:config.$mobileBreakpointP) {
    main{
        width: 100vw;
        height: auto;

        margin: 0;
        padding: 0;
        .poke-data {
            .card-game{
                .card-name{
                    width: 100%;
                    .name-icone{
                        .poke-icone{
                            width: 75px;
                            padding: 2px;
                        }
                        h1{
                            font-size: 19px;
                            margin-left: 75px;
                        }
                    }
                    h3{
                        font-size: 17px;
                        i{
                            font-size: 15px;
                            padding: 2px;
                        }

                    }
                }
                .img-principal{
                    h4{
                        font-size: 10px;
                    }
                }
                .first-attack{
                    i{
                        font-size: 17px;
                        padding: 3px;
                    }
                    h5{
                        font-size: 20px;
                    }
                }
                .second-attack{
                    i{
                        font-size: 15px;
                        padding: 3px;
                    }
                    h5{
                        font-size: 15px;
                    }
                }
                .card-footer{
                    width: 100%;
                    .weakness{
                        h6{
                            font-size: 9px;
                            i{
                                font-size: 10px;
                                padding: 1px;
                            }
                        }
                        h5{
                            width: 75%;
                            font-size: 15px;
                            span{
                                i{
                                    padding: 3px;
                                    font-size: 17px;
                                }
                            }
                        }
                    }
                    .information{
                        p{
                            padding: 2px;
                            font-size: 10px;
                        }
                    }
                }
                .card-bottom{
                    width: 105%;
                    h6{
                        font-size: 12px;
                    }
                }

            }


            .pokemon{
                flex-direction: column;
                width: auto;
                .poke-img {
                    height: 100%;
                    margin-top: 15px;
                    margin-bottom: 15px;
                    h1{
                        font-size: 22px;
                        line-height: 22px;
                    }
                    img{
                        width: 100%;
                        // height: 380px;
                        margin-left: 0;
                        margin-right: 0;
                        margin-top: 25px;
                        margin-bottom: 25px;
                    }
                }
                .poke-status {
                    padding: 15px;
                    margin: 5px;
                    width: 100%;
                    h2{
                        font-size: 22px;
                    }
                    li{
                        font-size: 19px;
                    }
                }
            }
            .poke-info {
                table{
                width: 100vw;
                }
            }
        }
    }
}
@media screen and(max-width:config.$mobileBreakpointPp) {
    main{
        width: 100vw;
        height: auto;

        margin: 0;
        padding: 0;
        .poke-data {
            padding: 0;
            .card-game{
                .card-name{
                    width: 100%;
                    .name-icone{
                        .poke-icone{
                            width: 75px;
                            padding: 2px;
                        }
                        h1{
                            font-size: 19px;
                            margin-left: 75px;
                        }
                    }
                    h3{
                        font-size: 17px;
                        i{
                            font-size: 15px;
                            padding: 2px;
                        }

                    }
                }
                .img-principal{
                    h4{
                        font-size: 10px;
                    }
                }
                .first-attack{
                    i{
                        font-size: 17px;
                        padding: 3px;
                    }
                    h5{
                        font-size: 20px;
                    }
                }
                .second-attack{
                    i{
                        font-size: 15px;
                        padding: 3px;
                    }
                    h5{
                        font-size: 15px;
                    }
                }
                .card-footer{
                    width: 100%;
                    .weakness{
                        h6{
                            font-size: 9px;
                            i{
                                font-size: 10px;
                                padding: 1px;
                            }
                        }
                        h5{
                            width: 75%;
                            font-size: 15px;
                            i{
                                padding: 2px;
                                font-size: 12px;
                            }
                        }
                    }
                    .information{
                        p{
                            padding: 2px;
                            font-size: 10px;
                        }
                    }
                }
                .card-bottom{
                    h6{
                        font-size: 12px;
                    }
                }

            }


            .pokemon{
                flex-direction: column;
                width: auto;
                .poke-img {
                    height: 100%;
                    margin-top: 15px;
                    margin-bottom: 15px;
                    h1{
                        font-size: 22px;
                        line-height: 22px;
                    }
                    img{
                        width: 100%;
                        // height: 380px;
                        margin-left: 0;
                        margin-right: 0;
                        margin-top: 25px;
                        margin-bottom: 25px;
                    }
                }
                .poke-status {
                    padding: 15px;
                    margin: 5px;
                    width: 100%;
                    h2{
                        font-size: 22px;
                    }
                    li{
                        font-size: 19px;
                    }
                }
            }
            .poke-info {
                table{
                width: 100vw;
                }
            }
        }
    }
}