main {
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.grid-main {   
    background-color: blueviolet;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    display: grid;
    grid-template-rows: 
    24vh 24vh 24vh 24vh;
    grid-template-columns:
    14vw 14vw 14vw 14vw;
    grid-template-areas: 
    'pok1 pok2  pok3  pok4'
    'pok5 pok6  pok7  pok8'
    'pok9 pok10 pok11 pok12'
    'prox prox prox prox';
    grid-column-gap: 1vw;
    grid-row-gap: 3.5vh;
    width: 60vw;
}

.poke-table {
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 5vh;
    height: 100vh;
    width: 60vw;
    background-color: rgb(106, 192, 231);
}

.pok1 {
    grid-area: "pok1";
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
    background-image: url("../pikachu-01.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15%;
    border: 2px solid red;    
}

.pok2 {
    grid-area: "pok2";
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
    background-image: url("../squirtle-01.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15%;
    border: 2px solid red;
}
.pok3 {
    grid-area: "pok3";
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 3;
    grid-column-end: 3;
    background-image: url("../psyduck-01.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15%;
    border: 2px solid red;
}

.pok4 {
    grid-area: "pok4";
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 4;
    grid-column-end: 4;
    background-image: url("../jigg-01.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15%;
    border: 2px solid red;
}

.pok5 {
    grid-area: "pok5";
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
    background-image: url("../ditto-01.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15%;
    border: 2px solid red;

}

.pok6 {
    grid-area: "pok6";
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
    background-image: url("../zapdos-01.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15%;
    border: 2px solid red;

}

.pok7 {
    grid-area: "pok7";
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 3;
    background-image: url("../moltres-01-01.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15%;
    border: 2px solid red;

}

.pok8 {
    grid-area: "pok8";
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 4;
    grid-column-end: 4;
    background-image: url("../meow-01.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15%;
    border: 2px solid red;

}

.pok9 {
    grid-area: "pok9";
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
    background-image: url("../articuno-01.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15%;
    border: 2px solid red;

}

.pok10 {
    grid-area: "pok10";
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 2;
    background-image: url("../absol-01.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15%;
    border: 2px solid red;

}

.pok11 {
    grid-area: "pok11";
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 3;
    background-image: url("../beedrill-01.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15%;
    border: 2px solid red;

}

.pok12 {
    grid-area: "pok12";
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 4;
    background-image: url("../heracross-01.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15%;
    border: 2px solid red;
}

.prox {
    grid-area: "prox";
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
    margin-left: 14vw;
}

/*------------------------------aspect MAIN-------*/
/*------------------------------aspect MAIN-------*/
/*------------------------------aspect MAIN-------*/


ul {
    list-style: none;
    text-align: center;

}

.card-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /*justify-content: flex-end;*/
    align-content: center;
    font-size: 2.vh;
    font-weight: 600;
    padding-right: 2.5rem;
}

.card {
    flex: 1;
    margin: 1rem;
}
.poke-void{
    background-color: none;
    margin-bottom: 4.5rem;
}
.poke-name {
    color: black;
    font-weight: 800;
    font-size: 2.2vh;
}

.old-price {
    align-self: center;
    text-decoration: line-through;
    color: red;
}

.actual-price {
    color: black;
    font-weight: bold;
}

.btn{
    background-image: 
    url("../pokeball-btn-q-01.png");
    background-position-y: 45%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 1rem;
    padding-left: 0.7vw;
    padding-right: 0.7vw;
    padding-bottom: 0.2vw;
    padding-top: 0.8vw;
    /*margin-right: 0.2vw;
    margin-left: 0.2vw;*/
    font-size: 2.2vh;
    font-weight: 800;
    line-height: 2.4vh;
    width: 11.5vw;
}

.btn a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    line-height: 1vh;

}

.prox-box{
    text-align: center;
    display: flex;
    margin-left: 5vw;
    justify-content: space-around;
}

.prox-item{
    flex: 1;
    padding: 0.5rem;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    
    background-color: blueviolet;
    border: 2px solid black;
}
