@use '../config';
aside {
    grid-area: "sidenav";
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 2;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 20px;
    .aside-head {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        .poke-ads-title {
            background-color: config.$pokeRed;
            text-transform: uppercase;
            font-size: 1.5rem;
            text-align: center;
        }
        .gambeta {
            position: relative;
            display: block;
            background-image:
            url('../images/tenor-wave.gif');
            background-size: cover;
            background-position: center center;
            height: 450px;
            width: 27vw;
            margin-right: 20px;
            a {
                text-decoration: none;
                .font-poke {
                    position: relative;
                    color: config.$yellowPok;
                    text-shadow: config.$texShadow;
                    line-height: 50px;
                    font-family: config.$pokeFont;
                    font-size: 65px;
                    transition: all ease 0.9s;
                    text-transform: uppercase;
                    animation-duration: 3s;
                    animation-name: slidein;
                    margin-left: 20px;
                    text-align: center;
                }
                .font-poke:hover {
                    position: absolute;
                    text-shadow:
                    5px 12px 8px  config.$bluePok;
                }
            }
        }
        .gambeta::before {
            content: " ";
            width: 100%;
            height: 100%;
            background-image:
            url('../images/tenor-wave-2.gif');
            background-position: auto;
            background-repeat: repeat;
            top: 0;
            left: 0;
            opacity: 0.3;
        }
    }
    .news {
        background: #EEE;
        margin-top: 40px;
        padding: 30px 10px;
        h4 {
            text-transform: uppercase;
            font-weight: 600;
            margin-top: 0;
            text-align: center;
            font-size: 0.8rem;
        }
        input {
            padding: 8px;
            border: 0;
            width: 90%;
        }
        button {
            margin-top: 20px;
            width: 100%;
            padding: 12px;
            border: 0;
            color: #fff;
            background: #000;
            border-radius: 1% 1%;
        }
    }

    .crossfade {
        display: flex;
        flex-grow: 0;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        .pikachuu {
            align-self: center;
            height: 150px;
            width: 250px;
        }
    }
}

.loop {
    align-self: center;
    cursor: pointer;
    position: relative;
    height: 270px;
    width: 250px;
}
.sizing  {
    width: 100%;
    height: auto;
}
.poke-ads-description {
    font-size: 2rem;
    text-align: center;
    margin: 0;
}
.poke-ads-description-2 {
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
    color: white;
}
.poke-ads-font {
    font-family: Pokemon;
    font-size: 1.5rem;
    color: config.$yellowPok;
    text-shadow: config.$texShadow;
    text-align: center;
    margin: 0;
}


/*------------ASIDE-ASIDE-ASIDE---------*/
/*------------ASIDE-------ASIDE---------*/
/*------------ASIDE-ASIDE-ASIDE---------*/
/*------------ASIDE-------ASIDE---------*/
/*------------ASIDE-------ASIDE---------*/
/*------------ASIDE-------ASIDE---------*/

@media screen and (max-width: config.$mobileBreakpointG){
    aside {
        grid-row-start: 4;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 1;
        width: 100vw;
        height: auto;
        padding-left: 0;
        padding-right: 0;
        margin-top: 10%;
        padding-top: 20%;
        .aside-head {
            .gambeta {
                align-self: center;
                width: 70vw;
                height: 50vh;
                a {
                    .font-poke {
                        margin-left: 120px;
                    }
                }
            }
        }
        .crossfade {
            
            .pikachuu {
                margin-top: 100px;
                width: 300px;
                height: 200px;
            }
        }
    }
}
@media screen and (max-width: config.$mobileBreakpointM){
    aside {
        margin-top: 11vh;
        padding-top: 50%;
        .aside-head {
            .gambeta {
                width: 100vw;
            }
        }
    }
}
@media screen and (max-width: config.$mobileBreakpointP){
    aside {
        .gambeta {
        }
    }
    
}
