@use '../config';
aside {
    grid-area: asides;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 2;
    width: 27vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 5px;
    background-color: #000;
    .aside-head {
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        width: 90%;
        margin: 10px;
        .logo-img {
            align-self: center;
            width: 200px;
            height: 100px;
        }
        h4{
            font-size: 20px;
            color: #fff;
        }
        button {
            margin: 5px;
        }
        .logo-img:hover{
            background-image: url("../images/");
            background-size: cover;
        }
        .poke-ads-title {
            border-radius: 5px;
            background-color: config.$pokeRed;
            text-transform: uppercase;
            font-size: 1.5rem;
            text-align: center;
        }
        .user-button {
            align-self: center;
            width: 50%;
            height: 40px;
            border-radius: 5px;
            background: config.$nextBtnBg;
            color: #000;
            background-size: 300% 300%;
        }
        .user-button:hover {
            animation: pokeProxAnimation 0.7s ease infinite;
            cursor: pointer;
        }
        .loop {
            align-self: center;
            background-image: url("../images/tenor-wave-2.gif");
            background-size: cover;
            cursor: pointer;
            position: relative;
            height: auto;
            width: 100%;
            border-radius: 5px;
            margin-bottom: 5px;
        }
        .gambeta {
            border-radius: 5px;
            align-self: center;
            position: relative;
            display: block;
            background-image:
            url('../images/tenor-wave.gif');
            background-size: cover;
            background-position: center center;
            height: 450px;
            width: 100%;
            img {
                margin-top: 130px;
                width: 100%;
                height: auto;
            }
        }
        .gambeta::before {
            position: absolute;
            content: " ";
            background-image:
            url('../images/fireworks-sparks.gif');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            /*top: 0;
            left: 0;*/
            opacity: 0.3;
        }
    }
    .crossfade{
        display: flex;
        flex-grow: 0;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        p {
            font-family: Pokemon;
            font-size: 1.5rem;
            color: config.$yellowPok;
            text-shadow: config.$texShadow;
            text-align: center;
            margin-top: 0;
            margin-left: 0;
            margin-right: 0;
        }
        .pikachuu {
            align-self: flex-start;
            height: 200px;
            width: 90%;
            border-radius: 5px;
            margin: 10px;
        }
    }
    .news {
        border-radius: 5px;
        width: 90%;
        background: config.$headerColor;
        margin-top: 40px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 30px 10px;
        display: flex;
        flex-direction: column;
        h4 {
            color: #000;
            text-transform: uppercase;
            font-weight: 600;
            margin-top: 0;
            text-align: center;
            font-size: 28px;
        }
        input {
            align-self: center;
            background-color: #EEE;
            padding: 8px;
            border: 0;
            width: 90%;
        }
        button {
            border-radius: 5px;
            margin-top: 20px;
            width: 100%;
            padding: 12px;
            border: 0;
            color: #fff;
            background: #000;
            border-radius: 1% 1%;
        }
    }
}



.poke-ads-description {
    font-size: 2rem;
    text-align: center;
    margin: 0;
}
.poke-ads-description-2 {
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
    color: white;
}
.poke-ads-font {
    
}

@media screen and (max-width: config.$mobileBreakpointG){
    aside {
        grid-area: asides;
        grid-row-start: 4;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 1;
        width: 98vw;
        height: auto;
        margin: 5px;
        .aside-head {
            margin: 15px;
            .loop {
                margin-left: 10px;
                margin-right: 10px;
            }
            .gambeta {
                align-self: center;
                width: 90%;
                height: 90%;
                margin-left: 10px;
                margin-right: 10px;
                a {
                    .font-poke {
                        margin-left: 120px;
                    }
                }
            }
        }
        .crossfade {
            margin: 5px;
            .pikachuu {
                margin-top: 100px;
                margin-left: 0px;
                margin-right: 10px;
                width: 340px;
                height: 200px;
            }
        }
        .news{
            width: 94%;
        }
    }
}
@media screen and (max-width: config.$mobileBreakpointM){
    aside {
        width: 90%;
        margin: 20px;
        .aside-head {
            .gambeta {
                width: 90%;
            }
        }
        .crossfade{
            .pikachuu{
                width: 340px;
            }
        }
    }
}
@media screen and (max-width: config.$mobileBreakpointP){
    aside {
        .gambeta {
        }
        .crossfade{
            .pikachuu{
                width: 295px;
            }
        }
    }
}
