@use '../config';

body.carrinho-aberto {
    aside{
        opacity: 0.6;
    }
    .opn-cart {
        opacity: 0.5;
        margin: auto;
        top: 0;
        left: 0;
        position: fixed;
        width: 100vw;
        height: 100vh;
    }
    .carrinho {
        box-shadow: 1px 1px 18px 4px #000000;
        right: 0;
        // transition: all ease-out .3s;
    }
}

.carrinho {
    position: fixed;
    right: -280px;
    width: 280px;
    height: 100vh;
    top: 0;
    background-color: config.$bodyBgColor;
    opacity: 0.9;
    border-radius: 2% 0  0 2%;
    border-left: solid 20px config.$headerColor;
    padding: 5px;
    transition: all ease-in-out .3s;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    
    .cart-head{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-top: -35px;
            margin-bottom: -20px;
            margin-left: 5px;
            margin-right: 5px;

        h4{
            font-size: 25px;
            margin-bottom: 20px;
        }
        button{
            color: #000000;
            cursor: pointer;
            margin-left: -30px;
            margin-top: 10px;
            background: white;
            border: 1px solid black;
            border-radius: 50%;
            font-size:  18px;
            width: 24px;
            height: 24px;
            padding: 0;
            i{
                margin: 0;
            }
        }
    }
    p{
        text-align: left;
        margin: 10px;
        font-size: 27px;
    }
    img{
        width: 150px;
        align-self: center;
    }
    .poke-container{
        width: 100%;
        border-radius: 5px;
        border: 1px solid rgb(0, 0, 0);
        padding: 5px;
        background-color: #000000;
        color: white;
        
        ol {
            list-style-type: decimal;
            margin-left: -5px;
            margin-right: 0;
            
            li {
                margin-left: -15px;
                margin-top: -20px;
                margin-bottom: 20px;
                width: 100%;
                font-size: 25px;
                .buy-card {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    img {
                        width: 50px;
                        margin-right: -20px;
                    }
                    i{
                        font-size: 12px;
                    }
                    i:hover{
                        color: config.$yellowPok;
                    }
                    .item-price {
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        flex-direction: column;
                        h6{
                            margin-left: -20px;
                            margin-bottom: 5px;
                            margin-top: 10px;
                            font-size: 25px;
                        }
                        span{
                            font-size: 20px;
                        }
                    }
                }
            }
        }
        h2{
            text-align: right;
            border: 1px solid white;
            border-radius: 5px;
        }
        h3{
            text-align: right;
            border: 1px solid white;
            border-radius: 5px;

        }
    }
    .final-buy {
        border-radius: 5px;
        margin-top: 5px;
        align-self: flex-end;
    }
    .credit-cards {
        list-style: none;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        font-size: 25px;
    }
}

@media screen and (max-width: config.$mobileBreakpointM){
    .carrinho{
        right: -360px;
        width: 360px;
        .poke-container{
            width: 309px;
            ol{
                li{
                    width: 298px;
                }
            }
        }
    }
}