@use '../config';

body.carrinho-aberto {
    aside{
        opacity: 0.6;
    }
    .opn-cart {
        opacity: 0.5;
        margin: auto;
        top: 0;
        left: 0;
        position: fixed;
        width: 100vw;
        height: 100vh;
    }
    .carrinho {
        box-shadow: 1px 1px 18px 4px #000000;
        right: 0;
        // transition: all ease-out .3s;
    }
}

.carrinho {
    position: fixed;
    right: -412px;
    width: 412px;
    height: 100vh;
    top: 0;
    background-color: rgb(139, 123, 159);
    opacity: 0.9;
    border-radius: 2% 0  0 2%;
    border: solid 20px config.$headerColor;
    padding: 5px;
    transition: all ease-in-out .3s;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    
    .cart-head{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-top: -35px;
            margin-bottom: -20px;
            margin-left: 5px;
            margin-right: 5px;

        h4{
            font-size: 25px;
            margin-bottom: 20px;
        }
        button{
            cursor: pointer;
            top: 0;
            margin-left: -14px;
            background: white;
            border: 0;
            border: 1px solid black;
            border-radius: 50%;
            font-weight: bold;
            font-size:  16px;
        }
    }
    p{
        text-align: left;
        margin: 10px;
        font-size: 27px;
    }
    img{
        width: 150px;
        align-self: center;
    }
    .poke-container{
        width: 362px;
        border-radius: 5px;
        border: 1px solid rgb(0, 0, 0);
        padding: 5px;
        background-color: #000000;
        color: white;
        
        ol {
            list-style-type: decimal;
            margin-left: -5px;
            margin-right: 0;
            
            li {
                margin-left: -15px;
                width: 350px;
                .mini-card{
                    list-style: none;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    flex-grow: 1;
                    align-items: center;
                    flex-wrap: nowrap;
                    border: 1px solid white;
                    border-radius: 5px;
                    background-color: rgb(139, 123, 159);
                    margin-left: -20px;
                    margin-bottom: 5px;
                    margin-top: 10px;
                    width: 100%;
        
                    li{
                        color: #000000;
                        margin: -5px;
                        padding: 5px;
                        text-transform: capitalize;
                        font-size: 22px;
                        
                        img{
                            width: 40px;
                            height: 40px;
                            margin-left: 5px;
                        }
                        .remove-cart{
                            font-size: 12px;
                            border-radius: 5px;
                            img{
                                width: 10px;
                                height: 10px;
                            }
                        }
                        
                    }
                    .preco-cart{
                        font-size: 14px;
                        padding: 1px;
                        margin: 0;
                    }
                }
            }
        }
        h2{
            text-align: right;
            border: 1px solid white;
            border-radius: 5px;
        }
        h3{
            text-align: right;
            border: 1px solid white;
            border-radius: 5px;

        }
    }
    .final-buy {
        border-radius: 5px;
        margin-top: 5px;
        align-self: flex-end;
    }
}

@media screen and (max-width: config.$mobileBreakpointM){
    .carrinho{
        right: -360px;
        width: 360px;
        .poke-container{
            width: 309px;
            ol{
                li{
                    width: 298px;
                }
            }
        }
    }
}