
@use '../config';
/*-- |FOOTER-FOOTER-FOOTER| -----*/
/*-- |FOOTER-FOOTER-FOOTER| -----*/
/*-- |FOOTER|             -------*/
/*-- |FOOTER|             -------*/
/*-- |FOOTER-FOOTER-FOOTER|------*/
/*-- |FOOTER-FOOTER-FOOTER|------*/
/*-- |FOOTER|              ------*/
/*-- |FOOTER|              ------*/
/*-- |FOOTER|              ------*/
footer {
    grid-area: footer;
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    /*  display: flex;
    justify-content: space-between; */
    width: 100vw;
    background-color:
    config.$footerColor;
    color: config.$fontWhite;
    margin-top: 10px;
    .containerfoot {
        display: flex;
        justify-content: space-between;
        margin-right: 20px;
        .footer-nav {
            margin-left: 20px;

            li {
                margin-bottom: 10px;
                list-style-type: none;
                a {
                    font-size: 25px;
                    color: config.$fontWhite;
                    text-decoration: none;
                }
                a:hover {
                    color: config.$yellowPok;
                }
            }
        }
        .social2 {
            margin-right: 20px;
            a {
                text-decoration: none;
                .socialfoot {
                    width: 25px;
                    height: 25px;
                    border-radius: 5px;
                    margin-top: 10%;

                    transition: all ease 0.4s;
                }
            }
        }
    }
    #cf {
        margin-right: 50px;
        flex:1;
        align-self: center;
        position: relative;
        height: auto;
        img{
            position: absolute;
            right: 0;
            -webkit-transition: opacity 1s ease-in-out;
            -moz-transition: opacity 1s ease-in-out;
            -o-transition: opacity 1s ease-in-out;
            transition: opacity 1s ease-in-out;
        }
        @keyframes cfFadeInOut {
            0% {
                opacity: 1;
            }
            45% {
                opacity: 1;
            }
            55% {
                opacity: 0;
            }
            100% {
                opacity: 0;
            }
        }
        .image-top {
            animation-name: cfFadeInOut;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-duration: 1s;
            animation-direction: alternate;
        }
    }
    .copyright {
        background: #262626;
        text-align: center;
        margin-top: 30px;
        color: config.$fontWhite;
        padding: 20px 0;
        .bottom {
            color: config.$fontWhite;
            font-size: 20px;
            text-align: center;
            margin-bottom: 0;
            .defaut-clean {
                text-decoration: none;
                color: config.$fontWhite;
            }
        }
    }
}

/*---SOCIAL--USED ON--FOOTER--&--HEADER-------*/
.socialfoot:hover {
    border: 1px solid config.$yellowPok;
    border-radius: 8%;
    box-shadow: 0 3px 10px config.$yellowPok;
    background-color: config.$yellow2Pok;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

@media screen and (max-width: config.$mobileBreakpointG){
    footer {
        grid-area: 'footer';
        grid-row-start: 5;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 1;
        margin: 0;
        padding: 0;
        width: 100vw;
        .containerfoot {
            margin-left: 0;
            margin-right: 0;
            .footer-nav {
                margin-left: 0;
                li {
                    margin-left: 0;
                    a {
                        margin-left: -30px;
                        font-size: 0.9rem;
                    }
                }
            }
            .social2 {
                display: flex;
                flex-direction: column;
                padding-right: 3%;
                .socialfoot {
                    width: 18px;
                    height: 18px;
                    border-radius: 2px;
                    margin-top: 10%;
                    margin-bottom: 10%;
                    margin-right: 10%;
                    margin-left: 30%;
                }
            }
        }
    }
}
@media screen and (max-width: config.$mobileBreakpointM){
    .footer {
        width: 100vw;
        margin: 0;
        padding: 0;
        .containerfoot {
            margin-right: 5px;
            padding: 0;
        }
    }
}
@media screen and (max-width: config.$mobileBreakpointP){
    .footer {
        width: 100vw;
        margin: 0;
        padding: 0;
        .containerfoot {
            margin-right: 5px;
            padding: 0;
        }
    }
}