
@use '../config';
/*-- |FOOTER-FOOTER-FOOTER| -----*/
/*-- |FOOTER-FOOTER-FOOTER| -----*/
/*-- |FOOTER|             -------*/
/*-- |FOOTER|             -------*/
/*-- |FOOTER-FOOTER-FOOTER|------*/
/*-- |FOOTER-FOOTER-FOOTER|------*/
/*-- |FOOTER|              ------*/
/*-- |FOOTER|              ------*/
/*-- |FOOTER|              ------*/
footer {
    grid-area: "footer";
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 4;
    /*  display: flex;
    justify-content: space-between; */
    width: 78vw;
    padding-right: 2%;
    padding-left: 2%;
    background-color:
    config.$footerColor;
    color: config.$fontWhite;
    .containerfoot {
        display: flex;
        justify-content: space-between;
        .footer-nav {
            li {
                margin-bottom: 10px;
                list-style-type: none;
                a {
                    font-size: 20px;
                    color: config.$fontWhite;
                    text-decoration: none;
                }
                a:hover {
                    color: config.$yellowPok;
                }
            }
        }
        .social2 {
            .socialfoot {
                width: 25px;
                height: 25px;
                border-radius: 5px;
                margin-top: 10%;
                transition: all ease 0.4s;
            }
        }
    }
    #cf {
        flex:1;
        align-self: center;
        position: relative;
        height: auto;
        img{
            position: absolute;
            right: 0;
            -webkit-transition: opacity 1s ease-in-out;
            -moz-transition: opacity 1s ease-in-out;
            -o-transition: opacity 1s ease-in-out;
            transition: opacity 1s ease-in-out;
        }
        @keyframes cfFadeInOut {
            0% {
                opacity: 1;
            }
            45% {
                opacity: 1;
            }
            55% {
                opacity: 0;
            }
            100% {
                opacity: 0;
            }
        }
        .image-top {
            animation-name: cfFadeInOut;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-duration: 1s;
            animation-direction: alternate;
        }
    }
    .copyright {
        background: config.$footerColor;
        text-align: center;
        margin-top: 30px;
        color: config.$fontWhite;
        padding: 20px 0;
        .bottom {
            color: config.$fontWhite;
            font-size: 20px;
            text-align: center;
            margin-bottom: 0;
            .defaut-clean {
                text-decoration: none;
                color: config.$fontWhite;
            }
        }
    }
}

/*---SOCIAL--USED ON--FOOTER--&--HEADER-------*/
.socialfoot:hover {
    border: 1px solid config.$yellowPok;
    border-radius: 8%;
    box-shadow: 0 3px 10px config.$yellowPok;
    background-color: config.$yellow2Pok;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

@media screen and (max-width: 720px){
    footer {
        grid-area: 'footer';
        grid-row-start: 5;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 2;
        padding-left: 0;
        width: 100vw;
        .containerfoot {
            .footer-nav {
                li {
                    a {
                        font-size: 0.9rem;
                    }
                }
            }
            .social2 {
                .socialfoot {
                    width: 18px;
                    height: 18px;
                    border-radius: 2px;
                    margin-top: 10%;
                    margin-bottom: 10%;
                    margin-right: 10%;
                }
            }
        }
    }
}