@use '../config';
body {
    overflow-x: hidden;
}
@font-face {
    font-family: Pokemon;
    src: url(Pokemon-Solid.ttf);
}
.gridzera {
    margin: 0;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    display: grid;
    width: 100vw;
    grid-template-rows:
    130px 70px auto auto auto;
    grid-template-columns:
    70vw     30vw;
    grid-template-areas:
    'header      header'
    'nav         nav'
    'content     aside'
    'footer      footer';
}

@media screen and (max-width: 720px){
    .gridzera {
        grid-template-rows:
        130px 10vh auto auto auto;
        grid-template-columns: 100vw;
        grid-template-areas:
        'header'
        'nav'
        'content'
        'aside'
        'footer';
    }
}

@media screen and (max-width: 414px){
    .gridzera {
        grid-template-rows:
        230px 7vh auto auto auto;
    }
}

@media screen and (max-width: 375px){
    .gridzera {
        grid-template-rows:
        230px 10vh auto auto auto;
    }
}

