@use '../config';

@font-face {
    font-family: Pokemon;
    src: url(Pokemon-Solid.ttf);
}

* {
    box-sizing: border-box;
}
body, html {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.gridzera {
    margin: 0;
    display: grid;
    width: 100vw;
    grid-template-rows: 70px 70px auto auto auto;
    grid-template-columns: 70vw 30vw;
    grid-template-areas:
    'header      header'
    'nav         nav'
    'content     content'
    'footer      footer';
    
    .flex{
        grid-area: 'content';
        grid-row-start: 3;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
        display: flex;
        justify-content: space-between;
        flex: 1;
        width: 100vw;
        margin-right: 10px;
    }
}




@media screen and (max-width: config.$mobileBreakpointGg){
    .gridzera {
        width: 100vw;
    }


}


@media screen and (max-width: config.$mobileBreakpointG){
    .gridzera {
        grid-template-rows:
        200px 70px auto auto auto;
        grid-template-columns: 100vw;
        grid-template-areas:
        'header'
        'nav'
        'content'
        'aside'
        'footer';
    }
}

@media screen and (max-width: config.$mobileBreakpointM){
    .gridzera {
        grid-template-rows:
        200px 7vh auto auto auto;
    }
}

@media screen and (max-width: config.$mobileBreakpointP){
    .gridzera {
        grid-template-rows:
        180px 7vh auto auto auto;
    }
}

