
@use '../config';

header {
    grid-area: header;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: config.$headerColor;
    height: auto;
    width: 100vw;
    padding: 15px;

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-right: 50px;
        margin-left: 0;
        .logo {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: nowrap;
            margin-bottom: 5px;
            .pika-spin {
                margin-top: 20px;
                margin-left: 20px;
            }
            a {
                text-decoration: none;
                .font-poke {
                    color: config.$yellowPok;
                    text-shadow: config.$texShadow;
                    line-height: 40px;
                    font-family: config.$pokeFont;
                    font-size: 35px;
                    transition: all ease 0.9s;
                    text-transform: uppercase;
                    animation-duration: 3s;
                    animation-name: runing;
                    margin-left: 20px;
                    text-align: center;
                }
                .font-poke:hover {
                    background: url("../images/pikachu-thunder.png");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 250% 150%;
                    padding-left: 40px;
                    padding-right: 40px;
                    text-shadow:
                    5px 12px 8px  config.$bluePok;
                }
            }
            
            .pika-run {
                margin-left: 20px;
                /*margin-right: 35px;*/
                margin-top: 15px;
                margin-bottom: 0;
                animation-duration: 1s;
                animation-name: runing;
            }
        }
        .search {
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 0;
            margin-bottom: 5px;
            position: relative;
            .search-input {
                
                button {
                    position: absolute;
                    right: 3px;
                    top: 3px;
                    background:
                    url("../images/pokeball-1.png");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 100%;
                    width: 20px;
                    height: 20px;
                    border: 0;
                    cursor: grabbing;
                }
                input {
                    box-shadow: 1px 1px 4px 4px #f5ccff;
                    background-color: #caf1ffe5;
                    color: rgb(52, 52, 52);
                    transition: width 0.3s ease-in-out;
                    border-radius: 5px;
                    border: 0;
                    width: 130px;
                    padding: 15px 33px 15px 17px;
                }
                input:focus {
                    width: 230px;
                    outline: 3px solid config.$bluePok;
                }
            }
        }
        .profile {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            list-style-type: none;
            margin: 0;
            padding: 0;
            text-transform: uppercase;
            li {
                margin-left: 8%;
                .headlink {
                    text-decoration: none;
                    color: black;
                    font-size: 28px;
                    font-weight: 800;
                    transition: all ease 0.4s;
                }
                .headlink:hover {
                    color: config.$yellowPok;
                }
            }
        }
    }
}

.pika-spin {
    animation: pikaspin 3s infinite linear;
}

@keyframes pikaspin {
    0%{
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}
@keyframes slidein {
    from {
    text-shadow:
    0.1rem 0.1vh 0.1vw config.$blue2Pok;
    margin-left: 100%;
    width: 300%;
    }
    75% {
        text-shadow:
        0.8rem 1.9vh 1.9vw config.$bluePok;
        margin-left: 25%;
        width: 100%;
        font-size: 200%;
    }
    to {
        text-shadow:
        0.1rem 0.1vh 0.1vw config.$bluePok;
        margin-left: 0%;
        width: 100%;
    }
}
@keyframes runing {
    from {
    background-image: url("../images/pikachu-thunder.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 150%;
    margin-left: 100%;
    width: 50%;
    filter:blur(2px);
    transform: all ease 2s;
    }
    75% {
        background-image: url("../images/pikachu-thunder.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 200%;
        margin-left: 45%;
        width: 70%;
        filter: contrast(200%)
        hue-rotate(180deg);
        animation-name: 'pika-spin';
    }
    to {
        background-color: none;
        margin-left: 0;
        width: 100%;
    }
}

nav {
    grid-area: nav;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 100vw;
    /*padding-right: 9%;*/
    padding: 0;
    margin: 0;
    background-color: config.$navBgColor;
    .nav-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        flex-wrap: nowrap;
        margin-left: 5px;
        margin-right: 25px;
        padding: 5px;
        width: 98vw;
            .navbar {
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                list-style-type: none;

            li .navlink {
                width: 100%;
                font-size: 25px;
                line-height: 26px;
                color: white;
                border-right: solid 1px white;
                padding-right: 5px;
                margin-right: 5px;
                text-decoration: none;
                text-transform: uppercase;
            }
            .navlink:hover {
                color: config.$yellowPok;
            }
        }
        .social1 {
            margin: 10px;
            a {
                text-decoration: none;
                .socialfoot {
                    width: 25px;
                    height: 25px;
                    border-radius: 5px;
                    margin-top: 2%;
                    margin-bottom: 2%;
                    transition: all ease 0.4s;
                }
            }
        }
    }
}

@media screen and (max-width: config.$mobileBreakpointG){
    header {
        grid-area: header;
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 1;
        grid-column-end: 1;
        width: 100vw;
        margin: 0;
        padding: 0;
        .header-container {
            display: block;
            padding: 5px;
            margin: 10px;
            .logo {
                a {
                    .font-poke{
                        margin-top: -5px;
                        padding-top: 0;
                        font-size: 45px;
                        line-height: 35px;
                        margin-bottom: 0;
                    }
                }
            }
            .search {
                align-self: flex-start;
                margin-bottom: 20px;
                margin-top: 20px;
                margin-left: 140px;
                .search-input {
                    button {
                        margin-right: 180px;
                    }
                    input {
                        width: 400px;
                        height: 10px;
                    }
                    input:focus {
                        width: 400px;
                    }
                }
            }
            .profile {
                top: 5px;
                right: 5px;
                margin-top: 0;
                margin-right: 50px;
                position: absolute;
                .headlink {
                    font-size: 0.9rem;
                }
                img {
                    width: 15px;
                    height: 15px;
                    margin-left: -5px;
                }
            }
        }
    }
    nav {
        grid-area: nav;
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 1;
        width: 100vw;
        padding: 10px;
        .nav-container {
            justify-content: center;
            ul .navbar {
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 0;
                li a.navlink {
                    font-size: 15px;
                    font-weight: 600;
                }
            }
            .social1 {
                display: flex;
                flex-direction: row;
                margin-left: 10px;
                margin-right: 10px;
                a {
                    .socialfoot {
                        width: 25px;
                        height: 25px;
                        margin-left: 5px;
                        margin-right: 5px;
                        margin-top: 1%;
                        margin-top: 2%;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: config.$mobileBreakpointM){
    header {
        grid-area: header;
        grid-column-start: 1;
        grid-column-end: 1;
        margin: 0;
        padding: 5px;
        .header-container {
            margin: 5px;
            .logo {
                margin-top: 35px;
                margin-bottom: 15px;
            }
            .search {
                margin-top: 30px;
                margin-bottom: 5px;
                margin-left: 5px;
                .search-input {
                    input {
                        width: 350px;
                        height: 20%;
                    }
                    input:focus {
                        width: 350px;
                    }
                    button {
                        margin-right: 5px;
                    }
                }
            }
            .profile {
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin-top: 5px;
                margin-left: 5px;
                margin-right: 5px;
                margin-bottom: 5px;
                // margin-top: 10px;
                // margin-right: 150px;
                .headlink {
                    font-size: 0.8rem;

                }
            }
        }
    }
    nav {
        width: 100vw;
        margin: 0;
        padding: 0;
        .nav-container {
            justify-content: right;
            align-items: center;
            padding-left: 5px;
            padding-right: 5px;
            flex: 1;
            .navbar {
                align-self: center;
                left: 0;
                align-items: center;
                margin-left: -20px;
                margin-right: 15px;
                li .navlink {
                    font-size: 20px;
                }
            }
            .social1 {
                margin-left: 2px;
                margin-right: 5px;
                .socialfoot {
                    max-width: 19px;
                    max-height: 19px;
                    margin-top: 2%;
                    margin-bottom: 2%;
                }
            }
        }
    }
}
@media screen and (max-width: config.$mobileBreakpointP){
    header {
        margin: 0;
        .header-container {
            .search {
                margin-top: 20px;
                margin-left: 20px;
                .search-input {
                    input {
                        width: 79vw;
                        height: 10%;
                    }
                    input:focus {
                        width: 79vw;
                    }
                    button {
                        margin-right: -30px;
                    }
                }
            }
            .profile {
                
                .headlink {
                    font-size: 0.8rem;
                    margin-left: 0;
                }
            }
        }
    }
    nav {
        .nav-container {
            justify-content: center;
            margin-left: 20px;
            .navbar {
                padding-left: 0;
                li a .navlink {
                    font-size: 12px;
                }
            }
            .social1 {
                justify-content: space-between;
                // align-self: flex-start;

                .socialfoot {
                    max-width: 15px;
                    max-height: 15px;
                }
            }
        }
    }
}
