@use '../config';

main .grid-main .pok1 {
    grid-area: "pok1";
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
    background-image:
    config.$pokePikachu;
    background-position: 100px 20px;
    background-repeat: no-repeat;
    background-size: 90%;
    border-radius: 1%;
    border: config.$cardBorder;
    margin: 0;
    height: 100%;
}
main .grid-main .pok2  {
    grid-area: "pok2";
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
    background-image:
    config.$pokeSquirtle;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 1%;
    border: config.$cardBorder;
    margin: 0;
    height: 100%;

}
main .grid-main .pok3 {
    grid-area: "pok3";
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 3;
    grid-column-end: 3;
    background-image:
    config.$pokePsyduck;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 1%;
    border: config.$cardBorder;
    margin: 0;
    height: 100%;
}

main .grid-main .pok4 {
    grid-area: "pok4";
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 4;
    grid-column-end: 4;
    background-image:
    config.$pokeJigg;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 1%;
    border: config.$cardBorder;
    margin: 0;
    height: 100%;
}

main .grid-main .pok5 {
    grid-area: "pok5";
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
    background-image:
    config.$pokeDitto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 1%;
    border: config.$cardBorder;
    margin: 0;
    height: 100%;
}

main .grid-main .pok6 {
    grid-area: "pok6";
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
    background-image:
    config.$pokeZapdos;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 1%;
    border: config.$cardBorder;
    margin: 0;
    height: 100%;

}

main .grid-main .pok7 {
    grid-area: "pok7";
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 3;
    background-image:
    config.$pokeMotres;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 1%;
    border: config.$cardBorder;
    margin: 0;
    height: 100%;

}

main .grid-main .pok8 {
    grid-area: "pok8";
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 4;
    grid-column-end: 4;
    background-image:
    config.$pokeMew;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 1%;
    border: config.$cardBorder;
    margin: 0;
    height: 100%;


}

main .grid-main .pok9 {
    grid-area: "pok9";
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
    background-image:
    config.$pokeArticu;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 1%;
    border: config.$cardBorder;
    margin: 0;
    height: 100%;

}

main .grid-main .pok10 {
    grid-area: "pok10";
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 2;
    background-image:
    config.$pokeAbsol;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 1%;
    border: config.$cardBorder;
    margin: 0;
    height: 100%;

}

main .grid-main .pok11 {
    grid-area: "pok11";
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 3;
    background-image:
    config.$pokeBeedri;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 1%;
    border: config.$cardBorder;
    margin: 0;
    height: 100%;


}

main .grid-main .pok12 {
    grid-area: "pok12";
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 4;
    background-image:
    config.$pokeHeracro;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 1%;
    border: config.$cardBorder;
    margin: 0;
    height: 100%;

}
