@use '../config';

.top-pokes {
    margin-top: 1%;
}

.top-pokes h3 {
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: solid 1px #DDD;
    padding: 5% 0;
    margin: 0;
}

footer .top-pokes h3  {
    font-family: config.$pokeFont;
}

.top-pokes ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 75%;
    font-family: config.$pokeFont;
    color: config.$yellowPok;
    text-shadow: config.$texShadow;
}

.top-pokes li {
    counter-increment: li;
    display: flex;
    align-items: center;
    padding: 2%;
    border-bottom: solid 1px #DDD;
    transition: all ease 0.3s;
    cursor: pointer;
    height: auto;
}

.top-pokes span {
    font-family: config.$fontText;
    text-shadow: initial;
    font-size: 20px;
    font-weight: 300;
}

.top-pokes li:hover {
    background: config.$hovTopBgColor;
    color: config.$hovTopColor;
    text-shadow: config.$texShadow;
}

.top-pokes li:last-child {
    border-bottom: 0;
    text-shadow: config.$texShadow;
}

.top-pokes li::before {
    content: counter(li) "º";
    font-size: 36px;
    font-weight: bold;
    line-height: 0;
}

.top-pokes .poke-img {
    width: 100%;
    margin: 0 8px;
}

footer .top-pokes {
    max-width: 60vw;
}

footer .top-pokes .poke-img {
    margin: 0 8px;
}

ol {
    list-style-type: decimal;
}

.poke-img {
    width: 3vw;
}
/*-&&&&&&&&&&&&&&---&&&&&&&&%%%%&&&&&999--*/
/*-&&&&&&&&&&&&&&---&&&&&&&&-----%%%%999--*/
/*-----&&&&&&-------&&&&&&&&%%%%%%%%%999--*/
/*-----&&&&&&-------&&&&&&&&-----%%%%999--*/
/*-----&&&&&&-------&&&&&&&&-----%%%%999--*/
@media screen and (max-width: 720px){
    .top-pokes h3 {
        font-size: 1.5rem;
    }

    .top-pokes ol {
        font-size: 0.9rem;
        margin-left: -10px;
    }

    .top-pokes span {
        font-size: 1.5rem;
        margin-left: -10px;
    }
    .top-pokes .poke-img {
        margin-left: -5px;
    }
}