body.carrinho-aberto {
    .carrinho {
        box-shadow: 1px 1px 18px 4px #000000;
        right: 0;
    }
}

.carrinho {
    position: fixed;
    width: 25vw;
    height: 100vh;
    top: 0;
    right: -25vw;
    background-color: rgb(123, 159, 159);
    opacity: 0.9;
    border-radius: 2% 0  0 2%;
    border: solid 1px gray;
    padding: 15px;    
    transition: all ease-in .3s;

    h4 {
        font-size: 20px;
        margin: 0;
    }
}