
/*-&&&&&&&&&&&&&&---&&&&&&&&%%%%&&&&&999--*/
/*-&&&&&&&&&&&&&&---&&&&&&&&-----%%%%999--*/
/*-----&&&&&&-------&&&&&&&&%%%%%%%%%999--*/
/*-----&&&&&&-------&&&&&&&&-----%%%%999--*/
/*-----&&&&&&-------&&&&&&&&-----%%%%999--*/
@media screen and (max-width: 810px){
    .gridzera {
        grid-template-rows: 
        11vh 4vh 100% 100% 100% 100% 100% 100% 100% 100% 100% 100%;
        grid-template-columns:
        0   50vw    50vw    0    0;
        grid-template-areas: 
        'blankhl        header  header  header blankhr'
        'blanknl        nav     nav     nav    blanknr'
        'costeleta-left content content aside costeleta-right'
        'costeleta-left content content aside costeleta-right'
        'costeleta-left content content aside costeleta-right'
        'costeleta-left content content aside costeleta-right'
        'costeleta-left content content aside costeleta-right'
        'costeleta-left content content aside costeleta-right'
        'costeleta-left content content aside costeleta-right'
        'costeleta-left content content aside costeleta-right'
        'blankfl        footer  footer  footer blankfr';
        margin: 0;
    }    
    header {
        height: 11vh;
        width: 100vw;
        margin: 0;
        padding: 0;
    }

    .header-container {
        display: block;
        padding: 0 15px;
        margin: 0;
    }

    header .topbar .header-container {
        display: block;
    }

    header .topbar .profile {
        top: 5px;
        right: 5px;
        margin-top: 0;
        margin-right: 30px;
        position: absolute;
    }

    .header-container .profile .headlink {
        font-size: 0.7rem;
    }

    .header-container .profile img {
        width: 15px;
        height: 15px;
        margin-left: -5px;
    }

    .header-container .logo .font-poke{
        margin-top: -5px;
        padding-top: 0;
        font-size: 2.9vh;
        line-height: 65px;
        margin-bottom: 0;
    }

    header .topbar .search {
        margin-top: 2px;
        margin-left: 0;
    }

    header .topbar .search-input input {
        width: 100%;
        height: 10%;
    }

    header .topbar .search-input input:focus {
        width: 100%;
    }

    header .topbar .search-input button {
        margin-left: -25px;
    }
/* -------------- |NAV NAV----------NAV| --*/
/* -------------- |NAV --NAV--------NAV| --*/
/* -------------- |NAV ----NAV------NAV|- --*/
/* ---------------|NAV -------NAV---NAV| --*/
/* ---------------|NAV --------NAV--NAV|- --*/
    nav {
        width: 100vw;
        height: 4vh;
        margin: auto;
    }
    nav .navbar {
        display: flex;
        overflow: scroll;
        justify-content: flex-start;
        align-items: flex-end;
        width: 100%;
        margin: auto;
    }
    .navlink {
        font-size: 0.7rem;
    }

    a .socialfoot {
        max-width: 15px;
        max-height: 15px;
    }
/*---------|MAN-|MAIN|-----|MAIN|-|MAIN------*/
/*---------|MAN-|MAIN|-----|MAIN|-|MAIN------*/
/*---------|MAN-------|MAIN|------|MAIN------*/
/*---------|MAN-------|MAIN|------|MAIN------*/
/*---------|MAN-------|MAIN|------|MAIN------*/
    .main {
        grid-row-start: 2;
        grid-row-end: 6;
        grid-column-start: 2;
        grid-column-end: 4;
        width: 100%;
        height: 100%;
    }

    main .grid-main {   
        font-family:
        'Yanone Kaffeesatz', sans-serif;
        display: grid;
        grid-template-rows: 
        33vh 33vh 33vh 33vh 33vh 33vh 1fr;
        grid-template-columns:
        50% 50%;
        grid-template-areas: 
        'pok1 pok2' 
        'pok3  pok4'
        'pok5 pok6'  
        'pok7  pok8'
        'pok9 pok10' 
        'pok11 pok12'
        'prox prox';
        grid-column-gap: 0.2vw;
        /*grid-row-gap: 3vh;*/
        margin: 1%;
    }

    main .grid-main .pok3 {
        grid-area: "pok3";
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 1;
    }

    main .grid-main .pok4 {
        grid-area: "pok4";
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 2;
    }

    main .grid-main .pok5 {
        grid-area: "pok5";
        grid-row-start: 3;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 1;
    }

    main .grid-main .pok6 {
        grid-area: "pok6";
        grid-row-start: 3;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 2;
    }

    main .grid-main .pok7 {
        grid-area: "pok7";
        grid-row-start: 4;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 1;
    }

    main .grid-main .pok8 {
        grid-area: "pok8";
        grid-row-start: 4;
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end: 2;
    }

    main .grid-main .pok9 {
        grid-area: "pok9";
        grid-row-start: 5;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 1;
    }

    main .grid-main .pok10 {
        grid-area: "pok10";
        grid-row-start: 5;
        grid-row-end: 5;
        grid-column-start: 2;
        grid-column-end: 2;
    }

    main .grid-main .pok11 {
        grid-area: "pok11";
        grid-row-start: 6;
        grid-row-end: 6;
        grid-column-start: 1;
        grid-column-end: 1;
    }

    main .grid-main .pok12 {
        grid-area: "pok12";
        grid-row-start: 6;
        grid-row-end: 6;
        grid-column-start: 2;
        grid-column-end: 2;
    }

    .prox {
        grid-area: "prox";
        grid-row-start: 7;
        grid-row-end: 7;
        grid-column-start: 1;
        grid-column-end: 2;
        margin-bottom: 0;
        width: 70%;
        margin-left: 250px;
    }
    
    .pro-box {
        margin: auto;
    }
    
    .card-flex .poke-data {
        height: fit-content;
    }

    .poke-void img {
        width: 15px;
    }
    
    .poke-name {
        font-size: 1.2rem;
        margin-left: -10px;
    }

    .old-price {
        font-size: 0.9rem;
    }

    .actual-price {
        font-size: 1.2rem;
    }

    .card-flex button img {
        max-width: 20px;
        max-height: 20px;
    }

    .btn .buy {
        font-size: 1.2rem;
    }
/*------------ASIDE-ASIDE-ASIDE---------*/
/*------------ASIDE-------ASIDE---------*/
/*------------ASIDE-ASIDE-ASIDE---------*/
/*------------ASIDE-------ASIDE---------*/
/*------------ASIDE-------ASIDE---------*/
/*------------ASIDE-------ASIDE---------*/
    aside {
        grid-row-start: 7;
        grid-row-end: 10;
        grid-column-start: 2;
        grid-column-end: 3;
        width: 100vw;
        flex: 1;
        padding-left: 0;
        margin-top: 50px;
    }

    .top-pokes h3 {
        font-size: 1.5rem;
    }

    .top-pokes ol {
        font-size: 0.9rem;
        margin-left: -10px;
    }

    .top-pokes span {
        font-size: 1.5rem;
        margin-left: -10px;
    }

    .top-pokes .poke-img {
        margin-left: -5px;
    }

    .news h4 {
        font-size: 0.8rem;
    }

    footer {
        grid-row-start: 11;
        grid-row-end: 11;
        grid-column-start: 2;
        grid-column-end: 3;
        width: 100vw;
    }

    footer {
        padding-left: 0;
    }

    footer .containerfoot ul li a { 
        font-size: 0.8rem;
    }
}
/*----------@-----------------413------------*/
/*----------@-----------------413------------*/
/*----------@-----------------413------------*/
/*----------@-----------------413------------*/
/*----------@-----------------413------------*/

/*TODO
/* Não deu tempo de resolver tudo aqui*/
/* Precisa Enquadrar melhor o TOp Pokemons*/
/* Assim como o carrinho de compra*/
/* Apagar as casses que criri atoa*/
/* Criar MAIS outros tipos de mediaQueries*/
/* Criar outro Main sem suar a img de pokemon no 
backgound-image e sim como o professor fez*/
