/*CSS Principal, contém a etrutura dos GRID's*/
/*os pokemons dos cards estão no style-2.css */
/*os MediaQueries estão no style-3.css       */
body {
    overflow-x: hidden;
}
@font-face {
    font-family: Pokemon;
    src: url(Pokemon-Solid.ttf);
}
.gridzera {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    display: grid;
    width: 100vw;
    grid-template-rows:
    17vh 7vh auto auto auto 0 auto;
    grid-template-columns:
       10vw   20vw    40vw    20vw    10vw;
    grid-template-areas:
    'blankhl        header  header  header blankhr'
    'blanknl        nav     nav     nav    blanknr'
    'costeleta-left content content aside costeleta-right'
    'costeleta-left content content aside costeleta-right'
    'costeleta-left content content aside costeleta-right'
    'costeleta-left content content aside costeleta-right'
    'blankfl        footer  footer  footer blankfr';
}

.blankhl {
    grid-area: "hblankl";
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
    background-color: rgba(214, 68, 0, 0.863);

}
.blankhr {
    grid-area: "hblankr";
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 5;
    grid-column-end: 5;
    background-color: rgba(214, 68, 0, 0.863);
}
.blanknl {
    grid-area: "hblankl";
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
    background-color: black;
    height: auto;
}
.blanknr {
    grid-area: "hblankr";
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 5;
    grid-column-end: 5;
    background-color: black;
    height: auto;
}

.costeleta-left {
    grid-area: "costeleta-left";
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 1;
    background-image:
    url("../images/pokeball-left-01.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
}

.costeleta-right {
    grid-area: "costeleta-right";
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 5;
    grid-column-end: 5;
    background-image:
    url("../images/pokeball-right-01.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
}

.blankfl {
    grid-area: "blankl";
    grid-row-start: 7;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 1;
    background-color:
    rgb(26, 26, 26);
}

.blankfr {
    grid-area: "blankr";
    grid-row-start: 7;
    grid-row-end: 7;
    grid-column-start: 5;
    grid-column-end: 5;
    background-color:
    rgb(26, 26, 26);
}

/* ----- |HEAD-----------HEAD| ------ --*/
/* ----- |HEAD-----------HEAD| ------ --*/
/* ----- |HEAD-----------HEAD| ----- --*/
/* ----- |HEAD-HEAD-HEAD-HEAD| ----- --*/
/* ----- |HEAD-----------HEAD| ----- --*/
/* ----- |HEAD-----------HEAD| ---- --*/
/* ----- |HEAD-----------HEAD| ---- --*/

header {
    grid-area: "header";
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: rgba(214, 68, 0, 0.863);
    height: auto;
    width: 80vw;
    padding: 1% 0;
}

.topbar {
    grid-area: "header";
    max-height: 10vh;
    margin-right: 2%;
    margin-left: 2%;
}

header .topbar .header-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 75vw;
    margin: auto;
}

header .header-container .font-poke {
    color: #FFDE00;
    text-shadow:
    4px 4px 1px rgb(0, 4, 255);
    line-height: 0;
    font-family: Pokemon;
    font-size: 8vh;
    transition: all ease 0.9s;
}
.logo a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.logo {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.font-poke {
    text-transform: uppercase;
}

a .font-poke:hover {
    text-shadow:
    0.5rem 0.8vh 0.4vw rgb(0, 4, 255);
}

.font-poke {
    animation-duration: 3s;
    animation-name: slidein;
}

.pika-run {
    animation-duration: 3s;
    animation-name: runing;
}
.pika-spin {
    animation: pikaspin 3s infinite linear;
}

@keyframes pikaspin {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@keyframes slidein {
    from {
    text-shadow:
    0.1rem 0.1vh 0.1vw rgb(77, 249, 255);
    margin-left: 100%;
    width: 300%;
    }
    75% {
        text-shadow:
        0.8rem 1.9vh 1.9vw rgb(0, 4, 255);
        margin-left: 25%;
        width: 100%;
        font-size: 200%;
    }
    to {
        text-shadow:
        0.1rem 0.1vh 0.1vw rgb(0, 4, 255);
        margin-left: 0%;
        width: 100%;
    }
}
@keyframes runing {
    from {
    background-image: url("../images/pikachu-thunder.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 150%;
    margin-left: 100%;
    width: 50%;
    filter:blur(2px)
    }
    75% {
        background-image: url("../images/pikachu-thunder.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 200%;
        margin-left: 45%;
        width: 70%;
        filter: contrast(200%)
        hue-rotate(180deg);
    }
    to {
        background-color: none;
        margin-left: 0;
        width: 100%;
    }
}

header .topbar .search {
    margin-left: 15px;
}

header .topbar .search-input {
    position: relative;
}

header .topbar .search-input button {
    position: absolute;
    right: 3px;
    top: 3px;
    background:
    url("../images/pokeball-1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 20px;
    height: 20px;
    border: 0;
    cursor: grabbing;
}

header .topbar .search-input input {
    transition: width 0.3s ease-in-out;
    border-radius: 5px;
    border: 0;
    width: 130px;
    padding: 15px 33px 15px 17px;
}

header .topbar .search-input input:focus {
    width: 230px;
    outline: 3px solid #2428ff;
}

header .topbar .profile {

    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

header .topbar .profile li {
    margin-left: 8%;
}

header .topbar .headlink{
    text-decoration: none;
    color: black;
    font-size: 2.1vh;
    transition: all ease 0.4s;
}

.headlink:hover {
    box-shadow: 5px 5px 5px #ffffff;
    font-size: 2.3vh;
    border-radius: 50%;
    padding-left: auto;
    padding-right: auto;
    background-color: #FFDE00;
    color: blue;
    font-family: Pokemon;
}

.buycart {
    width: 2.5vh;
    height: 2.5vh;
    margin-right: 15px;
}
/*---- |NAV NAV--------NAV| -------*/
/*---- |NAV -NAV-------NAV| ------*/
/*---- |NAV ---NAV-----NAV| -------*/
/*-----|NAV ------NAV--NAV| ------*/
/*-----|NAV ------NAV--NAV| -----*/
/*-----|NAV -------NAV-NAV| -----*/
nav {
        grid-area: "nav";
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 4;
    height: auto;
    width: 80vw;
    background-color: rgb(0, 0, 0);
}
nav div .nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.navbar {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: auto;
}

div .navbar li .navlink:hover {
    color: #FFDE00;
}

nav div ul li .navlink{
    color: white;
    border-right: solid 1px white;
    padding-right: 0.8rem;
    margin-right: 1rem;
    text-decoration: none;
}
/*------------SOCIAL-----NAV----*/
/*------------SOCIAL-----NAV----*/
/*------------SOCIAL-----NAV----*/
/*------------SOCIAL-----NAV----*/
/*------------SOCIAL-----NAV----*/
.social1 {
    margin-top: 1%;
}
.socialtop {
    width: 25px;
    height: 25px;
    border-radius: 5px;
}
/* - |MAIN-MAIN---------MAIN-MAIN| --*/
/* - |MAIN--MAIN-------MAIN--MAIN| --*/
/* - |MAIN---MAIN-----MAIN---MAIN| --*/
/* - |MAIN----MAIN--MAIN-----MAIN| --*/
/* - |MAIN------MAIN---------MAIN| --*/
/* - |MAIN------MAIN---------MAIN| --*/
main {
    grid-area: "content";
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 4;
}

main .grid-main {
    font-family:
    'Yanone Kaffeesatz', sans-serif;
    display: grid;
    grid-template-rows:
    65vh 65vh 65vh 10vh;
    grid-template-columns:
    14vw 14vw 14vw 14vw;
    grid-template-areas:
    'pok1 pok2  pok3  pok4'
    'pok5 pok6  pok7  pok8'
    'pok9 pok10 pok11 pok12'
    'prox prox prox prox';
    grid-column-gap: 1vw;
    grid-row-gap: 3.5vh;
    margin: 0.5vh 0.5vw;
}

main .poke-table {
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 1vh;
    margin-right: 1vh;
}

main div .poke-table button {
    list-style: none;
    text-align: center;
}

main .poke-table div .card-flex {
    transform: all ease 0.5s;
    text-align: center;
    border: solid #DDD;
}

main .poke-table .card-flex:hover {
    box-shadow: 2px 3px 20px #1900ff;
}
main .poke-table .card {
    display: flex;
    flex: 2;
    flex-direction: column;
    align-content: space-between;
    align-items: stretch;
    justify-content: space-between;
    /*justify-content: flex-end;*/
}
/* Ativando o Justify-content lembre */
/* Também deve colocar o background-image */
/* de cada pokemon para TOP.........*/
main .card-flex .card-head {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 0;
    width: 100%;
}

@keyframes pokeBtnAnimation {
    0% {
        background-position: 0% 5%;
        color: #DDD;
        text-shadow:
        0.2px 0.5vh 0.1vw rgb(52, 164, 255);
        font-family: Pokemon;
    }
    50% {
        background-position: 100% 50%;
        font-size: 1.9rem;
        font-family: Pokemon;
    }
    100% {
        background-position: 0% 50%;
        color: #FFDE00;
        text-shadow:
        0.2rem 0.5vh 0.1vw rgb(0, 4, 255);
        font-family: Pokemon;
    }
}

.poke-table .card-flex:hover .btn {
    animation: pokeBtnAnimation 5s ease infinite;
}

.card-head {
    align-self: baseline;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    font-size: 0.8rem;
    margin-right: 15px;
}

.poke-void {
    align-self: flex-end;
}

.card .poke-void img {
    transform: all ease 0.5s;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0.8rem;
}

.poke-void img:hover {
    animation: pikaspin 3s infinite linear;
    background-image:
    url("../images/pokeball-2.png");
    background-position-y: 40%;
    background-repeat: no-repeat;
    background-size: cover;
    cursor:grabbing;
    cursor: zoom-in;
}

.card-head h2 .poke-name {
    color: black;
    font-weight: 800;
    font-size: 0.5rem;
}

.card-flex .card-feet {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0;
}

.card-flex .card .prices {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-end;
}

.old-price {
    flex: auto;
    align-self: flex-start;
    text-decoration: line-through;
    color: red;
}

.actual-price {
    color: black;
    font-weight: bold;
    font-size: 2.5vh;
}

.card .btn {
    /*flex-wrap: wrap;*/
    font-size: 2.5vh;
    font-weight: 600;
    text-align: center;
    /*padding-right: 2.5rem;*/
}

.poke-table .card-flex .btn{
    background: linear-gradient(-45deg, #ce0606, #ec6834, #d5c923, #23d5ab);
    background-size: 400% 400%;
    cursor: pointer;
}

.btn {
    display: flex;
    justify-content: space-between;
}

.card button img .buy {
    flex: 0 1 100%;
}

.btn {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4%;
    padding-left: 3%;
    padding-right: 12%;
    padding-bottom: 3%;
    padding-top: 6%;
    font-size: 2.5vh;
    font-weight: 600;
    line-height: 2.4vh;
    width: 100%;
    text-align: right;
    margin: 0;
}

.btn a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    line-height: 1vh;
}

.btn img {
    height: 1.9rem;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
}
/*_________||PROX BUTTONS BUTTONS-------*/
/*_________||PROX BUTTONS BUTTONS-------*/
/*_________||PROX         BUTTONS-------*/
/*_________||PROX         BUTTONS-------*/
/*_________||PROX BUTTONS BUTTONS-------*/
/*_________||PROX BUTTONS---------------*/
/*_________||PROX BUTTONS---------------*/
/*_________||PROX BUTTONS---------------*/
.prox {
    grid-area: "prox";
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
    margin-bottom: 0;
    margin-top: 0;
    align-self: center;
    margin-left: 15vw;
}

.prox-box{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    flex: 1 1 100%;
    transition: all ease 0.4s;
    width: 100%;
    margin: auto;
}

/* AQUI eu não entendo porque */
/* nao pude centralizar prox-item*/
/* no final a unica forma q deu*/
/* certo foi forçar a margem esquerda */

.prox-item a {
    align-self: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    margin-bottom: 0;
    margin-top: 0;
}

.prox-item {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 8%;
    padding-right: 8%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 2%;
    background: linear-gradient(-45deg,
    #fbff00, #fff1eb, #8a23ff, #0c10fa);
    background-size: 300% 300%;
    cursor: pointer;
}

.prox-box .prox-item:hover {
    animation: pokeProxAnimation 1.8s ease infinite;
    font-size: 1.1rem;
    font-weight: 800;
}
.prox-item:last-child {
    margin-right: 0;
}
@keyframes pokeProxAnimation {
    0% {
        background-position: 0% 5%;
        font-size: 1.1rem;
    }
    25% {
        background-position: 100% 50%;
        font-size: 1rem;   
    }
    50% {
        background-position: 100% 50%;
        font-size: 0.8rem; 
    }
    100% {
        background-position: 0% 50%;
        font-size: 1.3rem;
    }
}

/*---------------- |ASIDE-ASIDE-ASIDE| --*/
/*---------------- |ASIDE-ASIDE-ASIDE| --*/
/*---------------- |ASIDE       ASIDE| --*/
/*---------------- |ASIDE       ASIDE| --*/
/*---------------- |ASIDE-ASIDE-ASIDE| --*/
/*---------------- |ASIDE       ASIDE| --*/
/*---------------- |ASIDE       ASIDE| --*/
/*---------------- |ASIDE       ASIDE| --*/
aside {
    grid-area: "sidenav";
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 4;
    grid-column-end: 4;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.loop {
    cursor: pointer;
    position: relative;
}

aside .sizing  {
    width: 100%;
    height: 100%;
}

aside .gambeta {
    position: relative;
    display: block;
    background-image:
    url('../images/tenor-wave.gif');
    background-size: cover;
    background-position: center center;
    height: auto;
    width: 100%;
}

aside .gambeta::before {
    position: absolute;
    content: " ";
    width: 100%;
    height: 100%;
    background-image:
    url('../images/tenor-wave-2.gif');
    background-position: auto;
    background-repeat: repeat;
    top: 0;
    left: 0;
    opacity: 0.3;
}

aside .poke-ads-title {
    text-transform: uppercase;
    font-size: 1.5rem;
    text-align: center;
}

aside .poke-ads-description {
    font-size: 2rem;
    text-align: center;
    margin: 0;
}

aside .poke-ads-description-2 {
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
    color: white;
}

aside .poke-ads-font {
    font-family: Pokemon;
    font-size: 1.5rem;
    color: #FFDE00;
    text-shadow:
    0.2rem 0.5vh 0.1vw rgb(0, 4, 255);
    text-align: center;
    margin: 0;
}

.news {
    background: #EEE;
    margin-top: 40px;
    padding: 30px 10px;
}

.news h4 {
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 0;
    text-align: center;
    font-size: 0.8rem;
}

.news input {
    padding: 8px;
    border: 0;
    width: 90%;
}

.news button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    border: 0;
    color: #fff;
    background: #000;
    border-radius: 1% 1%;    
}

/*-- |FOOTER-FOOTER-FOOTER| -----*/
/*-- |FOOTER-FOOTER-FOOTER| -----*/
/*-- |FOOTER|             -------*/
/*-- |FOOTER|             -------*/
/*-- |FOOTER-FOOTER-FOOTER|------*/
/*-- |FOOTER-FOOTER-FOOTER|------*/
/*-- |FOOTER|              ------*/
/*-- |FOOTER|              ------*/
/*-- |FOOTER|              ------*/
footer {
    grid-area: "footer";
    grid-row-start: 7;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: 4;
    /*  display: flex;
    justify-content: space-between; */
    width: 78vw;
    padding-right: 2%;
    padding-left: 2%;
    background-color:
    rgb(26, 26, 26);
    color: white;
}

footer .containerfoot {
    display: flex;
    justify-content: space-between;
}

footer .footer-nav li {
    margin-bottom: 10px;
    list-style-type: none;
}


#cf {
    position: relative;
    height: auto;
}

#cf img{
    position: absolute;
    right: 0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

@keyframes cfFadeInOut {
    0% {
        opacity: 1;
    }
    45% {
        opacity: 1;
    }
    55% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }    
}

#cf img.image-top {
    animation-name: cfFadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-direction: alternate;
}

footer .footer-nav a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

footer .footer-nav a:hover {
    color: #FFDE00;
}

footer .copyright {
    background: rgb(26, 26, 26);
    text-align: center;
    margin-top: 30px;
    color: #fff;
    padding: 20px 0;
}
/*-----SOCIAL---------FOOTER-------------*/
/*-----SOCIAL---------FOOTER-------------*/
/*-----SOCIAL---------FOOTER-------------*/
/*-----SOCIAL---------FOOTER-------------*/
/*-----SOCIAL---------FOOTER-------------*/
footer .social2 .socialfoot {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    margin-top: 10%;
    transition: all ease 0.4s;
}

nav .social1 .socialfoot {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    margin-top: 2%;
    transition: all ease 0.4s;
}

.socialfoot:hover {
    border: 1px solid #FFDE00;
    border-radius: 8%;
    box-shadow: 0 3px 10px #FFDE00;
    background-color: yellow;
}

.bottom {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-bottom: 0;
}

.defaut-clean {
    text-decoration: none;
    color: white;
}

.top-pokes {
    margin-top: 1%;
}

.top-pokes h3 {
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: solid 1px #DDD;
    padding: 5% 0;
    margin: 0;
}

footer .top-pokes h3  {
    font-family: Pokemon;
}

.top-pokes ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 75%;
    font-family: Pokemon;
    color: #FFDE00;
    text-shadow:
    0.2rem 0.5vh 0.1vw rgb(0, 4, 255);
}

.top-pokes li {
    counter-increment: li;
    display: flex;
    align-items: center;
    padding: 2%;
    border-bottom: solid 1px rgb(255, 226, 194);
    transition: all ease 0.3s;
    cursor: pointer;
    height: auto;
}

.top-pokes span {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-shadow: initial;
    font-size: 20px;
    font-weight: 300;
}

.top-pokes li:hover {
    background: rgb(241, 255, 240);
    color: #ff7322;
    text-shadow:
    0.2rem 0.5vh 0.1vw rgb(0, 4, 255);
}

.top-pokes li:last-child {
    border-bottom: 0;
    text-shadow:
    0.2rem 0.5vh 0.1vw rgb(0, 4, 255);


}

.top-pokes li::before {
    content: counter(li) "º";
    font-size: 36px;
    font-weight: bold;
    line-height: 0;
}

.top-pokes .poke-img {
    width: 100%;
    margin: 0 8px;
}

footer .top-pokes {
    max-width: 60vw;
}

footer .top-pokes .poke-img {
    margin: 0 8px;
}

ol {
    list-style-type: decimal;
}

.poke-img {
    width: 3vw;
}

/*===========MEDIA========MOBILE==*/
/*-----------------FLEX-----------*/
/*===========MEDIA========MOBILE==*/
/*-----------------FLEX-----------*/
/*----LOOK in the STYLE-3.CSS-----*/