
/*---------------- |ASIDE-ASIDE-ASIDE| --*/
/*---------------- |ASIDE-ASIDE-ASIDE| --*/
/*---------------- |ASIDE       ASIDE| --*/
/*---------------- |ASIDE       ASIDE| --*/
/*---------------- |ASIDE-ASIDE-ASIDE| --*/
/*---------------- |ASIDE       ASIDE| --*/
/*---------------- |ASIDE       ASIDE| --*/
/*---------------- |ASIDE       ASIDE| --*/
aside {
    grid-area: "sidenav";
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 4;
    grid-column-end: 4;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.loop {
    cursor: pointer;
    position: relative;
}

aside .sizing  {
    width: 100%;
    height: 100%;
}

aside .gambeta {
    position: relative;
    display: block;
    background-image:
    url('../images/tenor-wave.gif');
    background-size: cover;
    background-position: center center;
    height: auto;
    width: 100%;
}

aside .gambeta::before {
    position: absolute;
    content: " ";
    width: 100%;
    height: 100%;
    background-image:
    url('../images/tenor-wave-2.gif');
    background-position: auto;
    background-repeat: repeat;
    top: 0;
    left: 0;
    opacity: 0.3;
}

aside .poke-ads-title {
    text-transform: uppercase;
    font-size: 1.5rem;
    text-align: center;
}

aside .poke-ads-description {
    font-size: 2rem;
    text-align: center;
    margin: 0;
}

aside .poke-ads-description-2 {
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
    color: white;
}

aside .poke-ads-font {
    font-family: Pokemon;
    font-size: 1.5rem;
    color: #FFDE00;
    text-shadow:
    0.2rem 0.5vh 0.1vw rgb(0, 4, 255);
    text-align: center;
    margin: 0;
}

.news {
    background: #EEE;
    margin-top: 40px;
    padding: 30px 10px;
}

.news h4 {
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 0;
    text-align: center;
    font-size: 0.8rem;
}

.news input {
    padding: 8px;
    border: 0;
    width: 90%;
}

.news button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    border: 0;
    color: #fff;
    background: #000;
    border-radius: 1% 1%;    
}

/*------------ASIDE-ASIDE-ASIDE---------*/
/*------------ASIDE-------ASIDE---------*/
/*------------ASIDE-ASIDE-ASIDE---------*/
/*------------ASIDE-------ASIDE---------*/
/*------------ASIDE-------ASIDE---------*/
/*------------ASIDE-------ASIDE---------*/

@media screen and (max-width: 810px){
    aside {
        grid-row-start: 7;
        grid-row-end: 10;
        grid-column-start: 2;
        grid-column-end: 3;
        width: 100vw;
        flex: 1;
        padding-left: 0;
        margin-top: 50px;
    }
}
