/*AQUI VC ENCONTRA OS POKEMONS DOS CARDS*/
/*---------POKEMONS----------SOMENTE----*/
/*---------------POKEMONS---------------*/
/*---SÓ--------------POKEMONS-----------*/

main .grid-main .pok1 {
    grid-area: "pok1";
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
    background-image:
    url("../images/pikachu-01.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 1%;
    border: 1px solid rgb(184, 249, 252);    
    margin: 0;
    height: 100%;
}
main .grid-main .pok2  {
    grid-area: "pok2";
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
    background-image:
    url("../images/squirtle-01.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 1%;
    border: 1px solid rgb(184, 249, 252);    
    margin: 0;
    height: 100%;

}
main .grid-main .pok3 {
    grid-area: "pok3";
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 3;
    grid-column-end: 3;
    background-image:
    url("../images/psyduck-01.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 1%;
    border: 1px solid rgb(184, 249, 252);
    margin: 0;
    height: 100%;
}

main .grid-main .pok4 {
    grid-area: "pok4";
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 4;
    grid-column-end: 4;
    background-image:
    url("../images/jigg-01.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 1%;
    border: 1px solid rgb(184, 249, 252);
    margin: 0;
    height: 100%;
}

main .grid-main .pok5 {
    grid-area: "pok5";
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
    background-image:
    url("../images/ditto-01.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 1%;
    border: 1px solid rgb(184, 249, 252);
    margin: 0;
    height: 100%;
}

main .grid-main .pok6 {
    grid-area: "pok6";
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
    background-image:
    url("../images/zapdos-01.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 1%;
    border: 1px solid rgb(184, 249, 252);
    margin: 0;
    height: 100%;

}

main .grid-main .pok7 {
    grid-area: "pok7";
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 3;
    background-image:
    url("../images/moltres-01-01.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 1%;
    border: 1px solid rgb(184, 249, 252);
    margin: 0;
    height: 100%;

}

main .grid-main .pok8 {
    grid-area: "pok8";
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 4;
    grid-column-end: 4;
    background-image:
    url("../images/meow-01.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 1%;
    border: 1px solid rgb(184, 249, 252);
    margin: 0;
    height: 100%;


}

main .grid-main .pok9 {
    grid-area: "pok9";
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
    background-image:
    url("../images/articuno-01.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 1%;
    border: 1px solid rgb(184, 249, 252);
    margin: 0;
    height: 100%;

}

main .grid-main .pok10 {
    grid-area: "pok10";
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 2;
    background-image:
    url("../images/absol-01.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 1%;
    border: 1px solid rgb(184, 249, 252);
    margin: 0;
    height: 100%;

}

main .grid-main .pok11 {
    grid-area: "pok11";
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 3;
    background-image:
    url("../images/beedrill-01.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 1%;
    border: 1px solid rgb(184, 249, 252);
    margin: 0;
    height: 100%;


}

main .grid-main .pok12 {
    grid-area: "pok12";
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 4;
    background-image:
    url("../images/heracross-01.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 1%;
    border: 1px solid rgb(164, 226, 230);
    margin: 0;
    height: 100%;

}
